<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky"><span style="font-weight:normal">Article</span></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</a></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/abs/2022Univ....8..111C/abstract">https://ui.adsabs.harvard.edu/abs/2022Univ....8..111C/abstract</a></th>
    <th class="tg-0pky"><a href="https://arxiv.org/pdf/2110.04296.pdf">https://arxiv.org/pdf/2110.04296.pdf</a></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/link_gateway/2022AJ....163..212C/arxiv:2204.06646">https://ui.adsabs.harvard.edu/link_gateway/2022AJ....163..212C/arxiv:2204.06646</a></th>
    <th class="tg-0pky"><a href="https://arxiv.org/pdf/2106.14968.pdf">https://arxiv.org/pdf/2106.14968.pdf</a></th>
    <th class="tg-0pky"><a href="https://arxiv.org/abs/2111.09193">https://arxiv.org/abs/2111.09193</a></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky"><span style="font-weight:normal">Title</span></td>
    <td class="tg-0pky">The Gaia-ESO Survey: Target selection of open cluster stars</td>
    <td class="tg-0pky">Milky Way Star Clusters and Gaia: A Review of the Ongoing Revolution</td>
    <td class="tg-0pky">Reconstructing Nearby Young Clusters with Gaia EDR3</td>
    <td class="tg-0pky">The Many-Faceted Light Curves of Young Disk-bearing Stars in Taurus as Seen by K2</td>
    <td class="tg-0pky">TOI-942b: A Prograde Neptune in a ∼60 Myr old Multi-transiting System</td>
    <td class="tg-0pky">Rapid contraction of giant planets orbiting the 20 million-years old star V1298 Tau</td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:normal">Reference</span></td>
    <td class="tg-0pky">Bragaglia et al. 2022</td>
    <td class="tg-0pky">Cantat-Gaudin 2022</td>
    <td class="tg-0pky">Heyl et al. 2021</td>
    <td class="tg-0pky">Cody et al. 2022</td>
    <td class="tg-0pky">Wirth et al. 2021</td>
    <td class="tg-0pky">Suárez Mascareño et al. 2021</td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="font-weight:normal">HTML File</span></td>
    <td class="tg-0pky">The_Gaia-ESO_Survey_16.html</td>
    <td class="tg-0pky">Milky_Way_Star_Clusters_and_Gaia_8.html</td>
    <td class="tg-0pky">Reconstructing_Nearby_Young_Clusters_with_Gaia_EDR3_2.html</td>
    <td class="tg-0pky">The_Many-Faceted_Light_Curves_of_Young_Disk-bearing_Stars_in_Taurus_as_Seen_by_K2_3.html</td>
    <td class="tg-0pky">TOI-942b_2.html</td>
    <td class="tg-0pky">V1298Tau_12.html</td>
  </tr>
</tbody>
</table>
