<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-xwmr{background-color:#34ff34;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky">URL</th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/abs/2022yCat..36610118C/abstract"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://ui.adsabs.harvard.edu/abs/2022yCat..36610118C/abstract</span></a></th>
    <th class="tg-0pky"></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/abs/2020AJ....159..280B/abstract"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://ui.adsabs.harvard.edu/abs/2020AJ....159..280B/abstract</span></a></th>
    <th class="tg-0pky"></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/abs/2018yCat..51540224R/abstract"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://ui.adsabs.harvard.edu/abs/2018yCat..51540224R/abstract</span></a></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/abs/2018AJ....155..196R/abstract"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://ui.adsabs.harvard.edu/abs/2018AJ....155..196R/abstract</span></a></th>
    <th class="tg-0pky"><a href="https://arxiv.org/pdf/1910.12600.pdf"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://arxiv.org/pdf/1910.12600.pdf</span></a></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/abs/2016yCat..51520113R/abstract"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://ui.adsabs.harvard.edu/abs/2016yCat..51520113R/abstract</span></a></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/abs/2017ApJ...839...92R/abstract"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://ui.adsabs.harvard.edu/abs/2017ApJ...839...92R/abstract</span></a></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/abs/2020AJ....159..273R/abstract"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://ui.adsabs.harvard.edu/abs/2020AJ....159..273R/abstract</span></a></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/abs/2016AJ....152..114R/abstract"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://ui.adsabs.harvard.edu/abs/2016AJ....152..114R/abstract</span></a></th>
    <th class="tg-0pky"></th>
    <th class="tg-0pky"><a href="http://b2find.eudat.eu/dataset/65743338-ae08-5f95-98c0-34c7c575b6e1"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">http://b2find.eudat.eu/dataset/65743338-ae08-5f95-98c0-34c7c575b6e1</span></a></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/link_gateway/2018AJ....156...71C/arxiv:1802.06409"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://ui.adsabs.harvard.edu/link_gateway/2018AJ....156...71C/arxiv:1802.06409</span></a></th>
    <th class="tg-0pky"><a href="https://iopscience.iop.org/article/10.3847/1538-4357/aae202/meta"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://iopscience.iop.org/article/10.3847/1538-4357/aae202/meta</span></a></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/link_gateway/2021AJ....162..101V/arxiv:2105.11588"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://ui.adsabs.harvard.edu/link_gateway/2021AJ....162..101V/arxiv:2105.11588</span></a></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/link_gateway/2018MNRAS.473.1231A/arxiv:1707.07313"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://ui.adsabs.harvard.edu/link_gateway/2018MNRAS.473.1231A/arxiv:1707.07313</span></a></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/link_gateway/2022AJ....163..212C/arxiv:2204.06646"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://ui.adsabs.harvard.edu/link_gateway/2022AJ....163..212C/arxiv:2204.06646</span></a></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/abs/2018ApJ...855..115B/abstract"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://ui.adsabs.harvard.edu/abs/2018ApJ...855..115B/abstract</span></a></th>
    <th class="tg-0pky"><a href="https://iopscience.iop.org/article/10.3847/1538-4357/ab1018/meta"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://iopscience.iop.org/article/10.3847/1538-4357/ab1018/meta</span></a></th>
    <th class="tg-0pky"></th>
    <th class="tg-0pky"><a href="https://arxiv.org/pdf/2005.07710.pdf"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://arxiv.org/pdf/2005.07710.pdf</span></a></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/abs/2015MNRAS.446..411K/abstract"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://ui.adsabs.harvard.edu/abs/2015MNRAS.446..411K/abstract</span></a></th>
    <th class="tg-0pky"><a href="https://arxiv.org/abs/2112.14776"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://arxiv.org/abs/2112.14776</span></a></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/link_gateway/2020A&A...642A..99P/arxiv:2008.12531"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://ui.adsabs.harvard.edu/link_gateway/2020A&amp;A...642A..99P/arxiv:2008.12531</span></a></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/link_gateway/2015ApJ...807....3K/arxiv:1505.02446"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://ui.adsabs.harvard.edu/link_gateway/2015ApJ...807....3K/arxiv:1505.02446</span></a></th>
    <th class="tg-0pky"><a href="https://arxiv.org/abs/1912.04095"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://arxiv.org/abs/1912.04095</span></a></th>
    <th class="tg-0pky"><a href="https://arxiv.org/pdf/1906.10703.pdf"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://arxiv.org/pdf/1906.10703.pdf</span></a></th>
    <th class="tg-0pky"><a href="https://arxiv.org/abs/1604.06165"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://arxiv.org/abs/1604.06165</span></a></th>
    <th class="tg-0pky"><a href="https://arxiv.org/abs/2012.13238"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://arxiv.org/abs/2012.13238</span></a></th>
    <th class="tg-0pky"><a href="https://arxiv.org/abs/2005.00013"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://arxiv.org/abs/2005.00013</span></a></th>
    <th class="tg-0pky"><a href="https://arxiv.org/abs/astro-ph/0206228"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://arxiv.org/abs/astro-ph/0206228</span></a></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/abs/2022A%26A...661A.118C/abstract"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://ui.adsabs.harvard.edu/abs/2022A%26A...661A.118C/abstract</span></a></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/abs/2018yCat..51550196R/abstract"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://ui.adsabs.harvard.edu/abs/2018yCat..51550196R/abstract</span></a></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/abs/2017yCat..18390092R/abstract"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://ui.adsabs.harvard.edu/abs/2017yCat..18390092R/abstract</span></a></th>
    <th class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/abs/2020yCat..51590273R/abstract"><span style="font-weight:400;font-style:normal;text-decoration:underline;color:#0563C1">https://ui.adsabs.harvard.edu/abs/2020yCat..51590273R/abstract</span></a></th>
    <th class="tg-0pky"></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky">Title</td>
    <td class="tg-0pky">VizieR Online Data Catalog: 628 new open clusters found with OCfinder (Castro-Ginard+, 2022)</td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">targets_tess_cdips_30min</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">The Gaia-Kepler Stellar Properties Catalog. I. Homogeneous Fundamental Properties for 186,301 Kepler Stars</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">targets_tess_spoc_2min</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">VizieR Online Data Catalog: Transiting planets in young clusters from K2 (Rizzuto+, 2017)</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">Rotation of Low-mass Stars in Upper Scorpius and ρ Ophiuchus with K2</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">A CATALOG OF NEWLY IDENTIFIED STAR CLUSTERS IN GAIA DR2</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">VizieR Online Data Catalog: Pleiades members with K2 light curves. I. Periods (Rebull+, 2016)</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">Rotation of Late-type Stars in Praesepe with K2</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">Rotation of Low-mass Stars in Taurus with K2</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">Rotation in the Pleiades with K2. II. Multiperiod Stars</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">K2 approved targets</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">Membership &amp; properties of moving groups with Gaia</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">The many-faceted light curves of young disk-bearing stars in Upper Sco and ρ Oph observed by K2 Campaign 2</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">Kinematic Identification of Young Nearby Moving Groups from a Sample of Chromospherically Active Stars in the RAVE Catalog</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">Multicolor Variability of Young Stars in the Lagoon Nebula: Driving Causes and Intrinsic Timescales</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">Identification of Young Stellar Variables with KELT for K2 II: The Upper Scorpius Association</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">The Many-faceted Light Curves of Young Disk-bearing Stars in Taurus as Seen by K2</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">Identifying Young Kepler Planet Host Stars from Keck-HIRES Spectra of Lithium</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">The Elusive Majority of Young Moving Groups. I. Young Binaries and Lithium-rich Stars in the Solar Neighborhood</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">List of stars with dust disks</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">Flare Statistics for Young Stars from a Convolutional Neural Network Analysis of TESS Data</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">Mass and period limits on the ringed companion transiting the young star J1407</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">A 38 Million Year Old Neptune-Sized Planet in the Kepler Field</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">Magnetospheric accretion in the intermediate-mass T Tauri star HQ Tau</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">The Mass-Radius Relation of Young Stars, I: UScoCTIO 5, An M4.5 Eclipsing Binary in Upper Scorpius Observed By K2</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">A well aligned orbit for the 45 Myr old transiting Neptune DS Tuc Ab</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">TESS Hunt for Young and Maturing Exoplanets (THYME): A planet in the 45 Myr Tucana-Horologium association</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">Zodiacal Exoplanets in Time (ZEIT) III: A short-period planet orbiting a pre-main-sequence star in the Upper Scorpius OB Association</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">New constraints on the planetary system around the young active star AU Mic. Two transiting warm Neptunes near mean-motion resonance</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">TESS Hunt for Young and Maturing Exoplanets (THYME) II: A 17 Myr Old Transiting Hot Jupiter in the Sco-Cen Association</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">On the Unique Solution of Planet and Star Parameters from an Extrasolar Planet Transit Light Curve</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">Hunting for open clusters in Gaia EDR3: 628 new open clusters found with OCfinder</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">VizieR Online Data Catalog: Analysis of K2 LCs for members of USco &amp; {rho} Oph (Rebull+, 2018)</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">VizieR Online Data Catalog: Praesepe members with K2 light curve data (Rebull+, 2017)</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">VizieR Online Data Catalog: Taurus members &amp; nonmembers with K2 data (Rebull+, 2020)</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Author</td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Castro-Ginard+, 2022</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Berger+, 2020</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Rizzuto+, 2017</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Rebull+, 2018</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Liu+, 2019</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Rebull+, 2016</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Rebull+, 2017</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Rebull+, 2020</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Rebull+, 2016</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Ujjwal+, 2020</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Cody+, 2018</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Ramirez-Preciado+, 2018</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Venuti+, 2021</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Ansdell+, 2017</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Cody+, 2022</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Berger+, 2018</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Bowler+, 2019</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Feinstein+, 2020</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Kenworthy+, 2015</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Bouma+, 2021</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Pouilly+, 2020</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Kraus+, 2015</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Zhou+, 2020</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Newton+, 2019</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Mann+, 2016</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Martioli+, 2021</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Rizzuto+, 2020</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Seager+, 2002</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Bibcode</td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2022yCat..36610118C</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2020AJ....159..280B</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2018yCat..51540224R</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2018AJ....155..196R</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2019ApJS..245...32L</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2016yCat..51520113R</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2017ApJ...839...92R</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2020AJ....159..273R</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2016AJ....152..114R</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2020AJ....159..166U</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2018AJ....156...71C</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2018ApJ...867...93R</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2021AJ....162..101V</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2018MNRAS.473.1231A</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2022AJ....163..212C</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2018ApJ...855..115B</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2019ApJ...877...60B</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2020AJ....160..219F</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2015MNRAS.446..411K</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2022AJ....163..121B</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2020A&amp;A...642A..99P</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2015ApJ...807....3K</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2020ApJ...892L..21Z</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2019ApJ...880L..17N</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2016AJ....152...61M</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2021A&amp;A...649A.177M</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2020AJ....160...33R</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2003ApJ...585.1038S</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2022A&amp;A...661A.118C</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2018yCat..51550196R</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2017yCat..18390092R</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2020yCat..51590273R</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Catalog</td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">J/A+A/661/A118/table1,</span><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">J/A+A/661/A118/table2</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">J/AJ/159/280/table1,</span><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">J/AJ/159/280/table2</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">J/AJ/154/224/table2</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">J/AJ/155/196/table1</span><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">J/AJ/155/196/table3</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">J/ApJS/245/32/table1</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">J/AJ/152/113/table7</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">J/ApJ/839/92/table1</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">J/AJ/159/273/tablea1</span><br><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">J/AJ/159/273/table2</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">J/AJ/152/114/table2</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">J/AJ/159/166/table2</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">J/AJ/156/71/table1</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">J/ApJ/867/93/table2</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">J/AJ/162/101/table1</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Simbad</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Simbad</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">J/ApJ/855/115/table2</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">J/ApJ/877/60/table3</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Simbad</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Simbad</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Simbad</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Simbad</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Simbad</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Simbad</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Simbad</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Simbad</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Simbad</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Simbad</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Simbad</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Simbad</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">repeat</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">repeat</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">repeat</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">repeat</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Total:</span></td>
  </tr>
  <tr>
    <td class="tg-0pky">Star count</td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">25466</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">10647</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">9091</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">4497</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">3462</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2626</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2443</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">1020</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">941</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">849</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">759</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">591</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">563</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">340</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">278</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">244</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">131</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">109</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">80</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">58</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">38</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">18</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">14</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">11</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">10</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">10</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">7</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">5</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">4</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">0</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">64316</span></td>
  </tr>
  <tr>
    <td class="tg-0pky">Age from the catalog</td>
    <td class="tg-xwmr"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">TRUE</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-xwmr"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">TRUE</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">FALSE</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">FALSE</span></td>
    <td class="tg-xwmr"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">TRUE</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">FALSE</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">FALSE</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">FALSE</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">FALSE</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-xwmr"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">TRUE</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">FALSE</span></td>
    <td class="tg-xwmr"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">TRUE</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">FALSE</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">FALSE</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">FALSE</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Age from the</td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">FALSE</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">FALSE</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-xwmr"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">TRUE</span></td>
    <td class="tg-xwmr"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">TRUE</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">FALSE</span></td>
    <td class="tg-xwmr"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">TRUE</span></td>
    <td class="tg-xwmr"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">TRUE</span></td>
    <td class="tg-xwmr"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">TRUE</span></td>
    <td class="tg-xwmr"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">TRUE</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">FALSE</span></td>
    <td class="tg-xwmr"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">TRUE</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">FALSE</span></td>
    <td class="tg-xwmr"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">TRUE</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-xwmr"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">TRUE</span></td>
    <td class="tg-xwmr"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">TRUE</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-0pky">Identifier</td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">EDR3</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Gaia DR2</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">KIC</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">TIC</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">EPIC</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">EPIC</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">Coordinates</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2MASS</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">EPIC</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">EPIC</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">EPIC</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">EPIC</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">DR2</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2MASS</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2MASS</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2MASS</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">SimbadName</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">SimbadName</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">KIC</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">2MASS</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">SimbadName</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">SimbadName</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">SimbadName</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">SimbadName</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">SimbadName</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">SimbadName</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">SimbadName</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">SimbadName</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">SimbadName</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">SimbadName</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">SimbadName</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">SimbadName</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
</tbody>
</table>
