<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-fymr{border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky">Name</th>
    <th class="tg-0pky">Age (Myr)</th>
    <th class="tg-0pky">d (pc)</th>
    <th class="tg-0pky">[Fe/H]</th>
    <th class="tg-0pky">AR</th>
    <th class="tg-0pky">Dec</th>
    <th class="tg-fymr">References</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">Trapezium Cl.</span><br><span style="color:#00E">Orion Neb. Cl.</span><br><span style="color:#00E">(M42, NGC 1976)</span><br>(Orion)<br>- Orion Nebula</td>
    <td class="tg-0pky">25 (L)<br>13 (W)<br>5 (D)</td>
    <td class="tg-0pky">450 (L)<br>399 (W)<br>365 (D)</td>
    <td class="tg-0pky">-</td>
    <td class="tg-0pky">05 32.9</td>
    <td class="tg-0pky">-5 25</td>
    <td class="tg-0pky">- "Rotation in the Orion Nebula Cluster", W. Herbst, et al., <span style="color:#00E">2000, AJ 119, 261</span><br>- "The Orion Star-Forming Region", L.A. Hillenbrand, J.M. Carpenter, E.D. Feigelson, <span style="color:#00E">"From Darkness to Light: Origin and Evolution of Young Stellar Clusters"; 2000, ASP Conf. S. ed. T. Montmerle and Ph. Andre</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">Eta Cha</span><br>(Chamaeleon)</td>
    <td class="tg-0pky">8-12 (1)</td>
    <td class="tg-0pky">97 (1)</td>
    <td class="tg-0pky">-</td>
    <td class="tg-0pky">08 42</td>
    <td class="tg-0pky">-79</td>
    <td class="tg-0pky">(1) "The eta Chamaeleontis Cluster: A Remarkable New Nearby Young Open Cluster", Mamajek, Lawson &amp; Feigelson, <span style="color:#00E">1999, ApJ 516, L77</span><br>(2) "The Eta Chamaeleontis Cluster: Origin in the Sco-Cen OB Association", Mamajek, Lawson &amp; Feigelson, <span style="color:#00E">2000, ApJ in press)</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">NGC 2264</span><br><span style="color:#00E">(Mel 49)</span><br>(Monoceros)<br>- Christmas Tree<br>- Cone Nebula</td>
    <td class="tg-0pky">20 (L)<br>9.8 (W)<br>3 (D)</td>
    <td class="tg-0pky">752 (L)<br>718 (D)<br>350 Hip(R)</td>
    <td class="tg-0pky">-0.15 (L)</td>
    <td class="tg-0pky">06 38.3</td>
    <td class="tg-0pky">+9 56</td>
    <td class="tg-0pky">- "Studies of extremely young cluster I. NGC 2264", Walker M.F., <span style="color:#00E">1956, ApJ S 2, 365</span><br>- "Lithium in the Young Cluster NGC 2264", King J.R., <span style="color:#00E">1998 AJ 116, 254</span><br>- "BVRI photometry of the star-forming region NGC 2264: the initial mass function and star-forming rate", Flaccomio E., et al., <span style="color:#00E">1999, A&amp;A 345, 521</span><br>- "The Evolution of the Lithium Abundances of Solar-Type Stars. IX. High-resolution spectroscopy of low-mass stars in NGC 2264", Soderblom D.R. et al., <span style="color:#00E">1999, AJ 118, 1301</span><br>- "X-ray observations of the young cluster NGC 2264 ", Dahm et al., <span style="color:#00E">2007, AJ 134, 999</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">IC 348</span><br><span style="color:#00E">(o Persei)</span><br><span style="color:#00E">(Gingrich 1, Col 41)</span><br>(Perseus)<br>- Embedded in the Per OB2 assoc<br>- Near dark nebula Barnard 4</td>
    <td class="tg-0pky">126 (L)<br>18 (W)<br>0.5 - 12 (2)</td>
    <td class="tg-0pky">390 (L)<br>327 (W)<br>261 (3)</td>
    <td class="tg-0pky">-</td>
    <td class="tg-0pky">03 41.4</td>
    <td class="tg-0pky">+32 08</td>
    <td class="tg-0pky">(1) "ROSAT X-ray observations of the young cluster IC 348", Preibisch, T. et al., <span style="color:#00E">1996, A&amp;A 310, 456</span><br>(2) "The Young Cluster IC 348", Herbig G.H., <span style="color:#00E">1998, ApJ 497, 736</span><br>(3) "IC 348 proper motion study from digitised Schmidt plates", Scholz R.-D., et al., <span style="color:#00E">1999, A&amp;AS 137, 305</span><br>(4) "A Variability Study of Pre-Main Sequence Stars in the Extremely Young Cluster IC 348", Herbst W., et al., <span style="color:#00E">2000, AJ 120, 349</span><br>(5) "Deep CHANDRA X-ray observatory imaging study of the very young stellar cluster IC 348", Preibisch &amp; Zinnecker, <span style="color:#00E">2001, AJ, 122, 866</span><br>(6) "X-ray properties of the young stellar and substellar objects in the IC 348 cluster - the CHANDRA View", Preibisch &amp; Zinnecker, <span style="color:#00E">2002, AJ, in press</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">IC 2602</span><br><span style="color:#00E">(theta Carinae)</span><br>(Carina)</td>
    <td class="tg-0pky">10 (L)<br>23 (W)<br>~35<br>40 (D)</td>
    <td class="tg-0pky">155 (L)<br>164 (W)<br>137 (D)<br>152.0<span style="color:#008000">Hip</span>(R)</td>
    <td class="tg-0pky">-0.20 (L)<br>-0.09±0.01 (5)</td>
    <td class="tg-0pky">10 43.2</td>
    <td class="tg-0pky">-64 24</td>
    <td class="tg-0pky">(1) "An X-ray study of the young open cluster IC 2602", Randich S., et al., <span style="color:#00E">1995, A&amp;A 300, 134</span><br>(2) "Lithium abundances in the young open cluster IC 2602", Randich S., et al., <span style="color:#00E">1997, A&amp;A 323, 86</span><br>(3) "Rotational Velocities and Chromospheric/Coronal Activity of Low-Mass Stars in the Young Open Clusters IC 2391 and IC 2602", Stauffer J.R., et al. <span style="color:#00E">1997, ApJ 479, 776</span><br>(4) "Rotation periods of late-type stars in the young open cluster IC 2602", Barnes S.A. et al., <span style="color:#00E">1999, ApJ 516, 263</span><br>(5) "Li abundance and metallicity in the young open clusters IC2602 and IC2391", Meola G. et al., <span style="color:#00E">2000, ASP Conf. Ser. 198, p. 285 (Palermo)</span><br>(6) "Membership, lithium, and metallicity in the young open clusters IC 2602 and IC 2391: enlarging the sample", Randich et al., <span style="color:#00E">2001, A&amp;A, in press</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">IC 2391</span><br><span style="color:#00E">(o Velorum)</span><br>(Vela)</td>
    <td class="tg-0pky">36 (L)<br>44 (W)<br>~35<br>50.1 (D)<br>53±5 <span style="color:#F00">LDB</span>(6)</td>
    <td class="tg-0pky">140 (L)<br>164 (W)<br>141 (D)<br>146.0<span style="color:#008000">Hip</span>(R)</td>
    <td class="tg-0pky">-0.04 (L)<br>-0.09±0.02 (5)</td>
    <td class="tg-0pky">08 40.2</td>
    <td class="tg-0pky">-53 04</td>
    <td class="tg-0pky">(1) "Pre-main-sequence stars in the young cluster IC 2391", Stauffer J.R., et al., <span style="color:#00E">1989, ApJ 342, 285</span><br>(2) "The Evolution of Rotation and Activity in Young Open Clusters: IC 2391", Patten B.M., &amp; Simon T., <span style="color:#00E">1996, ApJS 106, 489</span><br>(3) "Rotational Velocities and Chromospheric/Coronal Activity of Low-Mass Stars in the Young Open Clusters IC 2391 and IC 2602", Stauffer J.R., et al. <span style="color:#00E">1997ApJ...479..776</span><br>(4) "A deep X-ray Image of IC 2391", Simon T. &amp; Patten B.M., <span style="color:#00E">1998, PASP 110, 283</span><br>(5) "Li abundance and metallicity in the young open clusters IC2602 and IC2391", Meola G. et al., <span style="color:#00E">2000, ASP Conf. Ser. 198, p. 285 (Palermo)</span><br>(6) "The Lithium-Depletion Boundary and the Age of the Young Open Cluster IC 2391", Barrado y Navasqués et al., <span style="color:#00E">1999, ApJ 522, L53</span><br>(7) "Very Low Mass Stars and Brown Dwarfs of the Young Open Cluster IC2391", Barrado y Navasqués et al., <span style="color:#00E">2001, ApJS 134, 103</span><br>(8) "Membership, lithium, and metallicity in the young open clusters IC 2602 and IC 2391: enlarging the sample", Randich et al., <span style="color:#00E">2001, A&amp;A, 372, 862</span><br>(9) "Spectroscopy of Very Low Mass Stars and Brown Dwarfs in IC2391: Lithium depletion and Halpha emission", Barrado y Navasqués et al., <span style="color:#00E">2004, ApJ 614, 386</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">delta Lyr</span><br><span style="color:#00E">(Stephenson 1)</span><br>(Lyra)</td>
    <td class="tg-0pky">25 (L)<br>41 (W)</td>
    <td class="tg-0pky">315 (W)</td>
    <td class="tg-0pky">-0.10 (L)</td>
    <td class="tg-0pky">18 51.8</td>
    <td class="tg-0pky">+36 51</td>
    <td class="tg-0pky">(1) "A Possible New Galactic Cluster Involving delta Lyrae", Stephenson C.B., <span style="color:#00E">1959, PASP 71, 145</span><br>(1) "Photometric evidence for the existence of a delta Lyrae cluster", Eggen O.J., <span style="color:#00E">1968, ApJ 152, 77</span></td>
  </tr>
  <tr>
    <td class="tg-0pky">a Car<br>(HIP 45080)<br>(Carina)</td>
    <td class="tg-0pky">60 (1)</td>
    <td class="tg-0pky">132<span style="color:#008000">Hip</span>(1)</td>
    <td class="tg-0pky">-</td>
    <td class="tg-0pky">09 09</td>
    <td class="tg-0pky">-58 45</td>
    <td class="tg-0pky">(1) "A search for star clusters from the Hipparcos data", Platais I., et al., <span style="color:#00E">1998, AJ 116, 2423</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">Trumpler 10</span><br><span style="color:#00E">(Col 203)</span><br>(Vela)<br>OB: Trumpler 10</td>
    <td class="tg-0pky">47 (L)<br>38 (W)<br>32 (D)<br>~15 (Z)</td>
    <td class="tg-0pky">380 (L)<br>338 (W)<br>363 (D)<br>365.0<span style="color:#008000">Hip</span>(R)<br>366<span style="color:#008000">Hip</span>(Z)</td>
    <td class="tg-0pky">-0.08 (L)</td>
    <td class="tg-0pky">08 46.0</td>
    <td class="tg-0pky">-42 18</td>
    <td class="tg-0pky">- (Z)</td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">Collinder 140</span><br>(Canis Mayor)</td>
    <td class="tg-0pky">22 (L)<br>40 (W)<br>40 (D)</td>
    <td class="tg-0pky">300 (L)<br>347 (W)<br>348 (D)<br>409.8<span style="color:#008000">Hip</span>(R)</td>
    <td class="tg-0pky">+0.05 (L)</td>
    <td class="tg-0pky">07 22.0</td>
    <td class="tg-0pky">-32 06</td>
    <td class="tg-0pky">-</td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">Collinder 121</span><br>(Canis Mayor)<br>OB: Collinder 121</td>
    <td class="tg-0pky">1.5 (L)<br>10 (W)<br>10 (D)<br>~5 (Z)</td>
    <td class="tg-0pky">1170 (L)<br>573 (W)<br>631 (D)<br>556Hip(R)<br>592<span style="color:#008000">Hip</span>(Z)</td>
    <td class="tg-0pky">-</td>
    <td class="tg-0pky">06 52.1</td>
    <td class="tg-0pky">-24 34</td>
    <td class="tg-0pky">- (Z)</td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">NGC 2232</span><br><span style="color:#00E">(Col 93)</span><br>(Monoceros)</td>
    <td class="tg-0pky">22 (L)<br>39 (W)<br>71 (D)</td>
    <td class="tg-0pky">400 (L)<br>316 (W)<br>380 (D)<br>324.7<span style="color:#008000">Hip</span>(R)</td>
    <td class="tg-0pky">-0.20 (L)</td>
    <td class="tg-0pky">06 24.1</td>
    <td class="tg-0pky">-4 43</td>
    <td class="tg-0pky">-</td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">IC 4665</span><br><span style="color:#00E">(Mel 179)</span><br>(Ophiuchus)</td>
    <td class="tg-0pky">36 (L)<br>38 (W)<br>&lt; 40 (1)<br>40 (D)</td>
    <td class="tg-0pky">430 (L)<br>344 (W)<br>327 (D)</td>
    <td class="tg-0pky">-</td>
    <td class="tg-0pky">17 46.3</td>
    <td class="tg-0pky">+05 43</td>
    <td class="tg-0pky">(1) "H emission fluxes and lithium abundances of low mass stars in the young open cluster IC 4665", Martín E.L., Montes, D. <span style="color:#00E">1997, A&amp;A 318, 805</span><br>- "X-ray Activity in the open cluster IC 4665", Giampapa M.S., Prosser C.F., Fleming T.A., <span style="color:#00E">1998, ApJ 501, 624</span><br>"Exploring the Lower Mass Function in the young open Cluster IC 4665", de Wit, et al., <span style="color:#00E">2006, A&amp;A, 448, 189</span><br>S. Manzi, S. Randich, W.J. de Wit, F. Palla, "Detection of the lithium depletion boundary in the young open cluster IC 4665",<br><span style="color:#00E">2007, A&amp;A, in press</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">NGC 2547</span><br><span style="color:#00E">(Mel 84)</span><br>(Vela)</td>
    <td class="tg-0pky">58 (L)<br>76 (W)<br>14 - 55 (1)<br>45 (D)<br>&gt;23 <span style="color:#F00">LDB</span>(2)</td>
    <td class="tg-0pky">400 (L)<br>428 (W)<br>380 (D)<br>432.9<span style="color:#008000">Hip</span>(R)</td>
    <td class="tg-0pky">-0.13 (L)<br>-0.16 (W)</td>
    <td class="tg-0pky">8 10</td>
    <td class="tg-0pky">-49 13</td>
    <td class="tg-0pky">(1) "X-ray emission and low mass stars in the young open cluster NGC 2547", Jeffries R.D., &amp; Tolley A.J., <span style="color:#00E">1998, MNRAS 300, 331</span><br>(2) "The lithium depletion boundary and age of NGC 2547", Jeffries R.D., et al., <span style="color:#00E">2000, ASP Conf. Ser. 198, p.281 (Palermo)</span><br>(3) "Rotation and Activity in the solar-type stars of NGC 2547", Jeffries R.D., Totten E.J., James D.J. <span style="color:#00E">2000, MNRAS 316, 950</span><br>(4) "The lithium depletion boundary and the age of NGC 2547", Oliveira J.M., et al., <span style="color:#00E">2003, MNRAS, 342, 651</span><br>(5) "Cool stars in NGC 2547 and pre-main-sequence lithium depletion", Jeffries R.D., et al., <span style="color:#00E">2003, MNRAS, 343, 1271</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">NGC 2451 A</span><br><span style="color:#00E">(Col 161)</span><br><span style="color:#00E">(Puppis MG)</span><br>(Puppis)</td>
    <td class="tg-0pky">36 (L)<br>100 (W)<br>50 (D)</td>
    <td class="tg-0pky">220 (L)(1)<br>242 (W)<br>151 (D)<br>190 (2)(3)<br>188.7<span style="color:#008000">Hip</span>(R)</td>
    <td class="tg-0pky">-0.45 (L)</td>
    <td class="tg-0pky">07 43.6</td>
    <td class="tg-0pky">-37 51</td>
    <td class="tg-0pky">(1) "NGC 2451 - What is it?", Roeser &amp; Bastian, <span style="color:#00E">1994, A&amp;A 285, 875</span><br>(2) "Elusive Open Cluster NGC 2451 Clinched", Platais, I., et al., <span style="color:#00E">1996, AAS 188.0309</span><br>(3) "The nature of some doubtful open clusters as revealed by Hipparcos", Baumgardt H., <span style="color:#00E">1998, A&amp;A 340, 402</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">NGC 2451 B</span><br>(Puppis)</td>
    <td class="tg-0pky">&lt; 100</td>
    <td class="tg-0pky">400 (1)(2)</td>
    <td class="tg-0pky">-</td>
    <td class="tg-0pky">07</td>
    <td class="tg-0pky">-37</td>
    <td class="tg-0pky">"</td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">Blanco 1</span><br><span style="color:#00E">(zeta Sculptoris)</span><br>(Sculptor)</td>
    <td class="tg-0pky">50 (L)<br>71 (W)<br>~90 (3)</td>
    <td class="tg-0pky">190 (L)<br>240 (W)<br>262.5<span style="color:#008000">Hip</span>(R)</td>
    <td class="tg-0pky">+0.03 (L)<br>+0.23±0.02(2)<br>+0.14 (4)</td>
    <td class="tg-0pky">23 48</td>
    <td class="tg-0pky">-28 07</td>
    <td class="tg-0pky">(1) "Spectroscopy of the young cluster Blanco 1", Panagi P.M., et al., <span style="color:#00E">1994A&amp;A...292..439P</span><br>(2) "Abundance analysis and origin of the {zeta} Sculptoris open cluster", Edvardsson, B., et al., <span style="color:#00E">1995, A&amp;A 293, 75</span><br>(3) "Spectroscopy of the open cluster Blanco 1 II. H alpha emission as an indicator of relative age", Panagi P.M., &amp; O'Dell M.A., <span style="color:#00E">1997, A&amp;AS 121, 213</span><br>(4) "Lithium in Blanco 1: Implications for Stellar Mixing", Jeffries R.D., &amp; James D.J., <span style="color:#00E">1999, ApJ, 511, 218</span><br>(5) "X-ray observations of the young open cluster Blanco 1", Micela G. et al., <span style="color:#00E">1999, A&amp;A 344, 83</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">Persei</span><br><span style="color:#00E">(Melotte 20)</span><br>(Perseus)<br>OB: Per OB3 (Cas-Tau group)</td>
    <td class="tg-0pky">51 (L)<br>79 (W)<br>25 (D)<br>&gt;75 <span style="color:#F00">LDB</span>(6)<br>90±10 <span style="color:#F00">LDB</span>(7)</td>
    <td class="tg-0pky">170 (L)<br>155 (D)<br>190.5<span style="color:#008000">Hip</span>(R)<br>177<span style="color:#008000">Hip</span>(Z)</td>
    <td class="tg-0pky">+0.10 (L)<br>-0.054±0.046(B)</td>
    <td class="tg-0pky">03 24</td>
    <td class="tg-0pky">+49 51</td>
    <td class="tg-0pky">(1) "Lithium in the Pleiades and Alpha Persei clusters", Boesgaard A.M., et al., <span style="color:#00E">1988, ApJ 332, 410</span><br>(2) "Lithium in Lower Main-Sequence Stars of the alpha Persei Cluster", Balachandran S., et al., <span style="color:#00E">1996, ApJ 470, 1243</span><br>(3) "The X-ray properties of the young open cluster around Persei", Randich, et al., <span style="color:#00E">1996, A&amp;A 305, 785</span><br>(4) "ROSAT Pointed Observations of the Alpha Persei Cluster", Prosser C.F., <span style="color:#00E">1996, AJ 112, 1570</span><br>(5) "Lithium in ROSAT-discovered Candidate Members in the Alpha Persei Cluster", Randich et al., <span style="color:#00E">1998 A&amp;A 333, 591</span><br>(6) "The Mass and Age of Very Low Mass Members of the Open Cluster alpha Persei", Basri G. &amp; Martín E.L., <span style="color:#00E">1999, ApJ 510, 266</span><br>(7) "Keck Spectra of Brown Dwarf Candidates and a Precise Determination of the Lithium Depletion Boundary in the Alpha Persei Open Cluster", Stauffer J.R., et al., <span style="color:#00E">1999, ApJ 527, 219</span><br>(8) "A Substellar Mass Function for Alpha Per", Barrado y Navascues D., et al., <span style="color:#00E">2002, A&amp;A, in press</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">M47</span><br><span style="color:#00E">(NGC 2422, Mel 68)</span><br>(Puppis)</td>
    <td class="tg-0pky">78 (L)<br>60 (W)<br>100 (D)</td>
    <td class="tg-0pky">480 (L)<br>426 (W)<br>423 (D)<br>497.5<span style="color:#008000">Hip</span>(R)</td>
    <td class="tg-0pky">-</td>
    <td class="tg-0pky">07 34.3</td>
    <td class="tg-0pky">-14 23</td>
    <td class="tg-0pky">- "ROSAT PSPC/HRI Observations of the Young Open Cluster NGC 2422", Barbera M., et al., <span style="color:#00E">1996, csss 9, 355</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">Pleiades</span><br><span style="color:#00E">(M45, Melotte 22)</span><br>(Taurus)</td>
    <td class="tg-0pky">78 (L)<br>83 (W)<br>112 (D)<br>125±8<span style="color:#F00">LDB</span>(11</td>
    <td class="tg-0pky">126 (L)<br>124 (D)<br>118.2<span style="color:#008000">Hip</span>(R)</td>
    <td class="tg-0pky">+0.11 (L)<br>-0.034±0.024(B)<br>-0.11 (G)</td>
    <td class="tg-0pky">03 47.0</td>
    <td class="tg-0pky">+24 07</td>
    <td class="tg-0pky">(1) "Lithium in the Pleiades and Alpha Persei clusters", Boesgaard A.M., et al., <span style="color:#00E">1988, ApJ 332, 410</span><br>(2) "ROSAT all-sky X-ray survey of the core region of the Pleiades cluster", Schmitt J.H.M.M., et al., <span style="color:#00E">1993, A&amp;A 277, 114</span><br>(3) "The Evolution of the Lithium Abundances of Solar-Type Stars. III The Pleiades", Soderblom D.R. et al., <span style="color:#00E">1993, AJ 106, 1059</span><br>(4) "Pre-main sequence lithium burning. 2: Pleiades low mass stars", García Lopez et al., <span style="color:#00E">1994, A&amp;A 282, 518</span><br>(5) "A deep imaging survey of the Pleiades with ROSAT", Stauffer J.R., et al., <span style="color:#00E">1994, ApJS 91, 625</span><br>(6) "Spectral and Temporal Characteristics of X-Ray--bright Stars in the Pleiades", Gagné M., et al., <span style="color:#00E">1995, ApJ 450, 217</span><br>(7) "ROSAT Observations of the Pleiades. I. X-Ray Characteristics of a Coeval Stellar Population", Micela G., et al., <span style="color:#00E">1996, ApJS 102, 75</span><br>(8) "The Evolution of the Lithium Abundances of Solar-Type Stars. VI. The End of Lithium in the Pleiades", Jones B.F., et al., <span style="color:#00E">1996, AJ 112, 186</span><br>(9) "Keck Rotational Velocities of the Faintest Pleiades and Hyades Members",Jones B.F., et al., <span style="color:#00E">1996, AJ 112, 1562</span><br>(10) "The Lithium Abundance Dispersion in the Pleiades?", Russell S.C., <span style="color:#00E">1996, ApJ 463, 593</span><br>(11) "Keck Spectra of Pleiades Brown Dwarf Candidates and a Precise Determination of the Lithium Depletion Edge in the Pleiades", Stauffer J.R., et al., <span style="color:#00E">1998, ApJ 499, L199</span><br>(12) "On the Lithium abundance dispersion in late-type Pleiades stars", Jeffries R.D., <span style="color:#00E">1999, MNRAS 309, 189</span><br>(13) "The Lithium-Rotation Correlation in the Pleiades revisited", King, et al. <span style="color:#00E">2000, AJ 119, 859</span><br>(14) "Rotational velocities of low-mass stars in the Pleiades and Hyades", Terndrup et al., <span style="color:#00E">2000, AJ 119, 1303</span><br>(15) "Membership and Multiplicity among Very Low-Mass Stars and Brown Dwarfs in the Pleiades Cluster", Martín et al., <span style="color:#00E">2000, ApJ in press</span><br>(16) "Observations of the core of the Pleiades with the Chandra X-ray Observatory", Krishnamurthi et al., <span style="color:#00E">2000, AJ 121, 337</span><br>(17) "The Mass and Structure of the Pleiades Star Cluster from 2MASS", Adams et al., <span style="color:#00E">2001, AJ (in press)</span><br>(18) "XMM-Newton First Observation in the Pleiades", K. R. Briggs, J. P. Pye, <span style="color:#00E">2001, `Stellar Coronae in the Chandra and XMM-Newton Era'</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">M35</span><br><span style="color:#00E">(NGC 2168)</span><br>(Gemini)</td>
    <td class="tg-0pky">107 (L)<br>100 (L)</td>
    <td class="tg-0pky">870 (L)<br>846 (W)</td>
    <td class="tg-0pky">-0.16 (W)</td>
    <td class="tg-0pky">06 05.8</td>
    <td class="tg-0pky">+24 21</td>
    <td class="tg-0pky">- von Hippel et al. <span style="color:#00E">1999, Asp Conf. S. (in press)</span><br>- Barrado y Navascués et al. <span style="color:#00E">1999, Asp Conf. S. (in press)</span><br>- Mathieu &amp; Dolan, <span style="color:#00E">1999, Asp Conf. S. (in press)</span><br>- "Lithium Depletion in Clusters: M35, Praesepe and M67", Barrado y Navascués et al., 2001, Cool S.S. 11th<br>- "From the Top to the Bottom of the Main Sequence: A Complete Mass Function of the Young Open Cluster M35", Barrado y Navascués et al., <span style="color:#00E">2001, ApJ 546, 1006</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">NGC 2516</span><br><span style="color:#00E">(Mel 82)</span><br>(Carina)</td>
    <td class="tg-0pky">107 (L)<br>62 (W)<br>126 (D)<br>~150</td>
    <td class="tg-0pky">440 (L)<br>373 (L)<br>372 (D)<br>346.0<span style="color:#008000">Hip</span>(R)</td>
    <td class="tg-0pky">-0.23 (L)<br>+0.06 (W)<br>-0.32±0.06(2)<br>+0.05 , -0.18 (3)</td>
    <td class="tg-0pky">07 58.3</td>
    <td class="tg-0pky">-60 52</td>
    <td class="tg-0pky">(1) "ROSAT survey of stellar X-ray sources in the young open cluster NGC 2516", Dachs J., &amp; Hummel W., <span style="color:#00E">1996, A&amp;A 312, 818</span><br>(2) "An X-ray survey of the young open cluster NGC 2516", Jeffries R.D., Thurston M.R., Pye J.P., <span style="color:#00E">1997, MNRAS 287, 350</span><br>(3) "Rotation and lithium in the late-type stars of NGC 2516", Jeffries R.D., James D.J., Thurston M.R., <span style="color:#00E">1998, MNRAS 300, 550</span><br>(4) "Low-Mass Stars in Open Clusters. I. NGC2516 and NGC3680", Hawley, S.L., et al., <span style="color:#00E">1999, AJ 117, 1341</span><br>(5) "Photometry and membership for low mass stars in the young open cluster NGC 2516", Jeffries R.D., et al., <span style="color:#00E">2001, A&amp;A, 375, 863</span><br>(6) "The open cluster NGC 2516. I. Optical photometry", Sung H., et al. <span style="color:#00E">2002, AJ 123, 290</span><br>(7) "Rotation and activity in the solar-metallicity open cluster NGC2516", Terndrup D.M., et al., <span style="color:#00E">2002, ApJ 576, 950</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">NGC 5460</span><br><span style="color:#00E">(Mel 123)</span><br>(Centaurus)</td>
    <td class="tg-0pky">107 (L)<br>115 (W)</td>
    <td class="tg-0pky">500 (L)<br>587 (W)</td>
    <td class="tg-0pky">-</td>
    <td class="tg-0pky">14 07.6</td>
    <td class="tg-0pky">-48 19</td>
    <td class="tg-0pky">- Barrado D. and Byrne P.B. <span style="color:#00E">1995A&amp;AS..111..275</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">M34</span><br><span style="color:#00E">(NGC 1039)</span><br>(Perseus)</td>
    <td class="tg-0pky">195 (L)<br>182 (W)<br>250 (2)</td>
    <td class="tg-0pky">440 (L)<br>501 (W)</td>
    <td class="tg-0pky">-0.26 (L)<br>Plei (2)</td>
    <td class="tg-0pky">02 42.0</td>
    <td class="tg-0pky">+42 47</td>
    <td class="tg-0pky">(1) "Membership of stars in NGC 1039 (M34)", Jones B.F., Prosser C.F., <span style="color:#00E">1996, AJ 111, 1193</span><br>(2) "The Evolution of the Lithium Abundances of Solar-Type Stars. VII. M34 (NGC 1039) and the Role of Rotation in Lithium Depletion", Jones et al., <span style="color:#00E">1997, AJ 114, 352</span><br>(3) " Rotational Studies of Late-Type Stars. VII. M34 (NGC 1039) and the Evolution of Angular Momentum and Activity in Young Solar-Type Stars", Soderblom et al., <span style="color:#00E">2001, ApJ 563, 334</span><br>(4) "Spectroscopic Abundances of Solar-Type Dwarfs in Open Cluster M34 (NGC 1039)", Schuler S.C., et al., <span style="color:#00E">2003, AJ, in press</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">M7</span><br><span style="color:#00E">(NGC 6475)</span><br>(Scorpius)</td>
    <td class="tg-0pky">224 (L)<br>129 (W)</td>
    <td class="tg-0pky">239 (L)<br>280.1<span style="color:#008000">Hip</span>(R)</td>
    <td class="tg-0pky">+0.07 (W)<br>+0.110±0.034(2)</td>
    <td class="tg-0pky">17 50.6</td>
    <td class="tg-0pky">-34 48</td>
    <td class="tg-0pky">(1) "An X-Ray Survey of the Open Cluster NGC 6475 (M7) With ROSAT", Prosser, C.F. et al. <span style="color:#00E">1995, AJ 110, 1229</span><br>(2) "Rotation, activity and lithium in NGC 6475", James, D.J., Jeffries R.D., <span style="color:#00E">1997, MNRAS 292, 252</span><br>(3) The evolution of Lithium Depletion in Young Open Clusters: NGC 6475, Sestino et al., <span style="color:#00E">2003, A&amp;A 407, 289</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">NGC 3532</span><br><span style="color:#00E">(Mel 103)</span><br>(Carina)</td>
    <td class="tg-0pky">347 (L)<br>251 (W)</td>
    <td class="tg-0pky">500 (L)<br>443 (W)<br>404.9<span style="color:#008000">Hip</span>(R)</td>
    <td class="tg-0pky">-0.02 (W)</td>
    <td class="tg-0pky">11 04.3</td>
    <td class="tg-0pky">-58 24</td>
    <td class="tg-0pky">- "A ROSAT HRI study of the open cluster NGC 3532", Franciosini E., et al., <span style="color:#00E">2000, A&amp;A 357, 139</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">Ursa Mayor</span><br><span style="color:#00E">(Collinder 285)</span><br>(Ursa Mayor)</td>
    <td class="tg-0pky">162 (L)<br>~300 (2)</td>
    <td class="tg-0pky">20 (L)<br>24.3</td>
    <td class="tg-0pky">-0.086±0.021(B)</td>
    <td class="tg-0pky">12 03</td>
    <td class="tg-0pky">+58</td>
    <td class="tg-0pky">(1) "X-RAY studies of coeval star samples. III - X-RAY emission in the Ursa Major stream", Schmitt J.H.M.M., et al., <span style="color:#00E">1990, ApJ 351, 492</span><br>(2) "Stellar kinematic groups. I. The Ursa Major Group", Soderblom &amp; Mayor, <span style="color:#00E">1993, AJ 105, 226</span><br>(3) "X-Ray Emission from the Ursa Major Group Detected in the ROSAT All Sky Survey", Stern R.A., &amp; Schmitt J.H.M.M., 1999, Cool S.S. 11th</td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">M39</span><br><span style="color:#00E">(NGC 7092)</span><br>(Cygnus)</td>
    <td class="tg-0pky">269 (L)<br>407 (W)</td>
    <td class="tg-0pky">270 (L)<br>349 (W)<br>310.6<span style="color:#008000">Hip</span>(R)</td>
    <td class="tg-0pky">-</td>
    <td class="tg-0pky">21 30.4</td>
    <td class="tg-0pky">+48 13</td>
    <td class="tg-0pky">-</td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">Coma Berenices</span><br><span style="color:#00E">(Melotte 111)</span><br>(Coma Berenices)</td>
    <td class="tg-0pky">398 (L)<br>490 (W)<br>500</td>
    <td class="tg-0pky">86 (L)<br>83 (W)<br>87.0<span style="color:#008000">Hip</span>(R)</td>
    <td class="tg-0pky">-0.03 (L)<br>-0.052±0.026(F)</td>
    <td class="tg-0pky">12 22.6</td>
    <td class="tg-0pky">+26 23</td>
    <td class="tg-0pky">- "Lithium in the Coma star cluster", Boesgaard A.M., <span style="color:#00E">1987, ApJ 321, 967</span><br>- "The evolution of the lithium abundances of solar-type stars. I - The Hyades and Coma Berenices clusters", Soderblom D.R. et al., <span style="color:#00E">1990, AJ 99, 595</span><br>- "Coronal activity in the Coma Berenices open cluster", Randich S., et al., <span style="color:#00E">1996, A&amp;A 313, 815</span><br>- "The Coma Berenices star cluster and its moving group", Odenkirchen et al., <span style="color:#00E">1998, New Astro. 3, 58</span><br>- "Lithium in the low-mass stars of the Coma Berenices open cluster"<br>Jeffries R.D., <span style="color:#00E">1999 MNRAS, 304, 821</span><br>- "Optical follow-up of ROSAT discovered candidate members of the open cluster Coma Berenices"<br>García López R.J. et al., <span style="color:#00E">2000, A&amp;A 363, 958</span><br>- "Lithium in the Coma Berenices open cluster",<br>Ford et al. 1999, <span style="color:#00E">2001 A&amp;A, in press</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">IC 4756</span><br><span style="color:#00E">(Col 386)</span><br>(Serpens Cauda)</td>
    <td class="tg-0pky">575 (L)<br>603 (W)</td>
    <td class="tg-0pky">400 (L)<br>480 (W)<br>330.0<span style="color:#008000">Hip</span>(R)</td>
    <td class="tg-0pky">+0.04 (L)<br>-0.06 (W)</td>
    <td class="tg-0pky">18 36.5</td>
    <td class="tg-0pky">+ 5 24</td>
    <td class="tg-0pky">- "ROSAT HRI observations of the intermediate-age open cluster IC 4756", Randich et al., <span style="color:#00E">1998 A&amp;A 337, 372</span><br>"X-ray Source Populations in the Region of the Open Clusters NGC 6633 and IC 4756", K. R. Briggs et al., <span style="color:#00E">2000, MNRAS (in press)</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">NGC 6633</span><br><span style="color:#00E">(Mel 201)</span><br>(Ophiuchus)</td>
    <td class="tg-0pky">660 (L)<br>457 (W)</td>
    <td class="tg-0pky">320 (L)<br>383 (W)<br>370.4<span style="color:#008000">Hip</span>(R)</td>
    <td class="tg-0pky">-0.11 (L)<br>0.00 (W)<br>-0.11 (1)</td>
    <td class="tg-0pky">18 25.3</td>
    <td class="tg-0pky">+ 6 32</td>
    <td class="tg-0pky">(1) "Membership and lithium abundances of late-type stars in NGC 6633", Jeffries R.D., <span style="color:#00E">1997, MNRAS 292, 177</span><br>(2) "A Search for Low Mass Members of the Young Open Cluster NGC 6633", Totten E.J. et al., 1999, Cool S.S. 11th<br>(3) "X-ray Source Populations in the Region of the Open Clusters NGC 6633 and IC 4756", K. R. Briggs et al., <span style="color:#00E">2000, MNRAS (in press)</span><br>(4) "Membership, metallicity and lithium abundances for solar-type stars in NGC 6633", Jeffries R.D., et al., <span style="color:#00E">2002, MNRAS (in press)</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">The Hyades</span><br><span style="color:#00E">(Melotte 25)</span><br>(Tauro)</td>
    <td class="tg-0pky">661 (L)<br>631 (W)</td>
    <td class="tg-0pky">48 (L)<br>46.3<span style="color:#008000">Hip</span>(P)</td>
    <td class="tg-0pky">+0.12 (L)<br>+0.17 (W)<br>+0.127±0.022(B)</td>
    <td class="tg-0pky">04 26.9</td>
    <td class="tg-0pky">+15 52</td>
    <td class="tg-0pky">- "Lithium and rotation in the Hyades F dwarfs", Boesgaard A.M., <span style="color:#00E">1987, PASP 99, 1067</span><br>- "Lithium in the Hyades, the Hyades moving group, and Praesepe", Boesgaard A.M. &amp; Budge K.G., <span style="color:#00E">1988, ApJ 332, 410</span><br>- "The evolution of the lithium abundances of solar-type stars. I - The Hyades and Coma Berenices clusters", Soderblom D.R. et al., <span style="color:#00E">1990, AJ 99, 595</span><br>- "First results from ROSAT all-sky survey observations of the Hyades cluster", Stern R.A., et al., <span style="color:#00E">1992, ApJ 399, L159</span><br>- "Lithium in the Hyades. I - New observations", Thorburn J.A., et al., <span style="color:#00E">1993, ApJ 415, 150</span><br>-"ROSAT X-ray luminosity functions of the Hyades dK and dM stars", Pye J.P., et al., <span style="color:#00E">1994, MNRAS 266, 798</span><br>-"Coronal X-ray sources in the Hyades: A 40 kilosecond ROSAT pointing", Stern R.A., et al., <span style="color:#00E">1994, ApJ 427, 808</span><br>-"ROSAT All-Sky Survey Observations of the Hyades Cluster", Stern R.A., et al., <span style="color:#00E">1995, ApJ 448, 683</span><br>-"Chromospheric and coronal activity in low-mass Hyades dwarfs", Reid N., et al., <span style="color:#00E">1995, MNRAS 272, 828</span><br>-"The Evolution of the Lithium Abundances of Solar-Type Stars.V. K Dwarfs in the Hyades", Soderblom D.R. et al., <span style="color:#00E">1995AJ....110..729S</span><br>- "Keck Rotational Velocities of the Faintest Pleiades and Hyades Members", Jones B.F., et al., <span style="color:#00E">1996, AJ 112, 1562</span><br>- "Lithium abundance in binaries of the Hyades open cluster", Barrado D., &amp; Stauffer J.R., <span style="color:#00E">1996, A&amp;A 310, 879</span><br>- "Stellar Activity in Coeval Open Clusters: Praesepe and the Hyades", Barrado y Navascués et al., <span style="color:#00E">1998, ApJ 506, 347</span><br>- "Rotational velocities of low-mass stars in the Pleiades and Hyades", Terndrup et al., <span style="color:#00E">2000, AJ 119, 1303</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">Praesepe</span><br><span style="color:#00E">(M44, NGC 2632)</span><br>(Cancer)</td>
    <td class="tg-0pky">661 (L)<br>692 (W)<br>400-900</td>
    <td class="tg-0pky">180 (L)<br>180.5<span style="color:#008000">Hip</span>(R)</td>
    <td class="tg-0pky">+0.07 (L)<br>+0.14 (W)<br>+0.038±0.039(F)<br>+0.17 (G)</td>
    <td class="tg-0pky">08 40.4</td>
    <td class="tg-0pky">+19 40</td>
    <td class="tg-0pky">- "The evolution of the lithium abundances of solar-type stars. IV - Praesepe", Soderblom D.R. et al., <span style="color:#00E">1993, AJ 106, 1080</span><br>- "A ROSAT X-ray study of the Praesepe cluster", Randich S., &amp; Schmitt J.H.M.M., <span style="color:#00E">1995, A&amp;A 298, 115</span><br>- "Stellar Activity in Coeval Open Clusters: Praesepe and the Hyades", Barrado y Navascués et al., <span style="color:#00E">1998, ApJ 506, 347</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">NGC 1901</span><br><span style="color:#00E">(Bok 1)</span><br>(Dorado)<br>Projected against the LMC</td>
    <td class="tg-0pky">501 (L)<br>832 (W)</td>
    <td class="tg-0pky">300 (L)<br>415 (W)</td>
    <td class="tg-0pky">-</td>
    <td class="tg-0pky">05 18.0</td>
    <td class="tg-0pky">-68 30</td>
    <td class="tg-0pky">"The Stellar content of star stream I", Eggen O.J., 1996, AJ 111, 1615</td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">NGC 752</span><br><span style="color:#00E">(Mel 12)</span><br>(Andromeda)</td>
    <td class="tg-0pky">1.1 Gyr (L)<br>2.7 Gyr (W)</td>
    <td class="tg-0pky">400 (L)<br>364 (W)</td>
    <td class="tg-0pky">-0.21 (L)<br>-0.09 (W)</td>
    <td class="tg-0pky">01 57.8</td>
    <td class="tg-0pky">+37 41</td>
    <td class="tg-0pky">"Soft X-rays from the intermediate-age open cluster NGC 752", Belloni T., Verbunt F. <span style="color:#00E">1996A&amp;A...305..806</span><br>"Lithium evolution in intermediate age and old open clusters: NGC 752 revisited", Sestito, et al. <span style="color:#00E">2004 A&amp;A, in press</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">NGC 3680</span><br>()</td>
    <td class="tg-0pky">1.8 Gyr (L)<br>~1.5 Gyr</td>
    <td class="tg-0pky">800 (L)<br>938 (W)</td>
    <td class="tg-0pky">-0.10 (W)</td>
    <td class="tg-0pky">11 23.3</td>
    <td class="tg-0pky">-42 58</td>
    <td class="tg-0pky">"Lithium in the intermediate age cluster NGC 3680: Following Li evolution along the C-M diagram", L. Pasquini, S. Randich, R. Pallavicini, <span style="color:#00E">2001, A&amp;A, 374, 1017</span></td>
  </tr>
  <tr>
    <td class="tg-0pky"><span style="color:#00E">M67</span><br><span style="color:#00E">(NGC 2682)</span><br>(Cancer)</td>
    <td class="tg-0pky">4.0 Gyr (L)<br>5.2 Gyr (W)</td>
    <td class="tg-0pky">720 (L)<br>803 (L)</td>
    <td class="tg-0pky">-0.10 (L)</td>
    <td class="tg-0pky">08 50.4</td>
    <td class="tg-0pky">+11 49</td>
    <td class="tg-0pky">- "Lithium in M 67: evidence for spread in a solar age cluster", Pasquini L., Randich S., Pallavicini R. <span style="color:#00E">1997, A&amp;A 325, 544</span><br>- "Optical Identification of ROSAT sources in M 67: activity in an old cluster",<br>Pasquini L., Belloni T., <span style="color:#00E">1998, A&amp;A 336, 902</span><br>- "Evolution of Chromospheric Activity: M67 Red Giants", Dupree A., K., Whitney B.A., Pasquini L., <span style="color:#00E">1999, ApJ 520, 751</span><br>- "The evolution of the lithium abundances of solar-type stars. VIII. M67 (NGC 2682)",Jones B.F. et al., <span style="color:#00E">1999, AJ 117, 330</span></td>
  </tr>
</tbody>
</table>