<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax"><span style="font-weight:normal">Cluster</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">age (Myr)</span></th>
    <th class="tg-0lax">References</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">Orion</td>
    <td class="tg-0lax">0.0-21.0</td>
    <td class="tg-0lax"><a href="https://ui.adsabs.harvard.edu/abs/2022Univ....8..111C/abstract" target="_blank" rel="noopener noreferrer">https://ui.adsabs.harvard.edu/abs/2022Univ....8..111C/abstract</a></td>
  </tr>
  <tr>
    <td class="tg-0lax">Upper Scorpius</td>
    <td class="tg-0lax">10.5-12</td>
    <td class="tg-0lax"><a href="https://ui.adsabs.harvard.edu/abs/2022Univ....8..111C/abstract" target="_blank" rel="noopener noreferrer">https://ui.adsabs.harvard.edu/abs/2022Univ....8..111C/abstract</a></td>
  </tr>
  <tr>
    <td class="tg-0lax">Upper Centaurus-Lupus</td>
    <td class="tg-0lax">18-21</td>
    <td class="tg-0lax"><a href="https://ui.adsabs.harvard.edu/abs/2022Univ....8..111C/abstract" target="_blank" rel="noopener noreferrer">https://ui.adsabs.harvard.edu/abs/2022Univ....8..111C/abstract</a></td>
  </tr>
  <tr>
    <td class="tg-0lax">Lower Centaurus-Crux</td>
    <td class="tg-0lax">18-21</td>
    <td class="tg-0lax"><a href="https://ui.adsabs.harvard.edu/abs/2022Univ....8..111C/abstract" target="_blank" rel="noopener noreferrer">https://ui.adsabs.harvard.edu/abs/2022Univ....8..111C/abstract</a></td>
  </tr>
  <tr>
    <td class="tg-0lax">Vela-Puppis</td>
    <td class="tg-0lax">10-50</td>
    <td class="tg-0lax"><a href="https://ui.adsabs.harvard.edu/abs/2022Univ....8..111C/abstract" target="_blank" rel="noopener noreferrer">https://ui.adsabs.harvard.edu/abs/2022Univ....8..111C/abstract</a></td>
  </tr>
</tbody>
</table>