<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky"><span style="font-weight:normal">Name</span></th>
    <th class="tg-0pky"><span style="font-weight:normal">RA [deg]</span></th>
    <th class="tg-0pky"><span style="font-weight:normal">DEC [deg]</span></th>
    <th class="tg-0pky"><span style="font-weight:normal">Distance [pc]</span></th>
    <th class="tg-0pky"><span style="font-weight:normal">I-Age [Myr]</span></th>
    <th class="tg-0pky"><span style="font-weight:normal">K-Age [Myr]</span></th>
    <th class="tg-0pky"><span style="font-weight:normal">[Z/H]</span></th>
    <th class="tg-0pky"><span style="font-weight:normal">E(B-V) [mag]</span></th>
    <th class="tg-0pky"><span style="font-weight:normal">N</span></th>
    <th class="tg-0pky"><span style="font-weight:normal">ma [mas/yr]</span></th>
    <th class="tg-0pky"><span style="font-weight:normal">ms [mas/yr]</span></th>
    <th class="tg-0pky"><span style="font-weight:normal">Sample Volume [10_6 pc_3]</span></th>
    <th class="tg-0pky">References</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky">Pleiades</td>
    <td class="tg-0pky">56.750</td>
    <td class="tg-0pky">24.117</td>
    <td class="tg-0pky">136</td>
    <td class="tg-0pky">130</td>
    <td class="tg-0pky">128</td>
    <td class="tg-0pky">-0.01</td>
    <td class="tg-0pky">0.045</td>
    <td class="tg-0pky">1059</td>
    <td class="tg-0pky">19.997</td>
    <td class="tg-0pky">-45.548</td>
    <td class="tg-0pky">7.4</td>
    <td class="tg-0pky"><a href="https://arxiv.org/pdf/2110.04296.pdf" target="_blank" rel="noopener noreferrer">https://arxiv.org/pdf/2110.04296.pdf</a></td>
  </tr>
  <tr>
    <td class="tg-0pky">alpha Persei</td>
    <td class="tg-0pky">51.675</td>
    <td class="tg-0pky">48.800</td>
    <td class="tg-0pky">175</td>
    <td class="tg-0pky">100</td>
    <td class="tg-0pky">81</td>
    <td class="tg-0pky">0.14</td>
    <td class="tg-0pky">0.090</td>
    <td class="tg-0pky">598</td>
    <td class="tg-0pky">22.929</td>
    <td class="tg-0pky">-25.556</td>
    <td class="tg-0pky">6.4</td>
    <td class="tg-0pky"><a href="https://arxiv.org/pdf/2110.04296.pdf" target="_blank" rel="noopener noreferrer">https://arxiv.org/pdf/2110.04296.pdf</a></td>
  </tr>
  <tr>
    <td class="tg-0pky">NGC 2451A</td>
    <td class="tg-0pky">115.800</td>
    <td class="tg-0pky">-38.400</td>
    <td class="tg-0pky">193</td>
    <td class="tg-0pky">60</td>
    <td class="tg-0pky">50</td>
    <td class="tg-0pky">-0.08</td>
    <td class="tg-0pky">0.000</td>
    <td class="tg-0pky">311</td>
    <td class="tg-0pky">-21.063</td>
    <td class="tg-0pky">15.378</td>
    <td class="tg-0pky">6.4</td>
    <td class="tg-0pky"><a href="https://arxiv.org/pdf/2110.04296.pdf" target="_blank" rel="noopener noreferrer">https://arxiv.org/pdf/2110.04296.pdf</a></td>
  </tr>
  <tr>
    <td class="tg-0pky">IC 2391</td>
    <td class="tg-0pky">130.133</td>
    <td class="tg-0pky">-53.033</td>
    <td class="tg-0pky">152</td>
    <td class="tg-0pky">50</td>
    <td class="tg-0pky">43</td>
    <td class="tg-0pky">-0.01</td>
    <td class="tg-0pky">0.030</td>
    <td class="tg-0pky">254</td>
    <td class="tg-0pky">-24.927</td>
    <td class="tg-0pky">23.256</td>
    <td class="tg-0pky">6.7</td>
    <td class="tg-0pky"><a href="https://arxiv.org/pdf/2110.04296.pdf" target="_blank" rel="noopener noreferrer">https://arxiv.org/pdf/2110.04296.pdf</a></td>
  </tr>
  <tr>
    <td class="tg-0pky">IC 2602</td>
    <td class="tg-0pky">160.742</td>
    <td class="tg-0pky">-64.400</td>
    <td class="tg-0pky">152</td>
    <td class="tg-0pky">50</td>
    <td class="tg-0pky">42</td>
    <td class="tg-0pky">-0.02</td>
    <td class="tg-0pky">0.031</td>
    <td class="tg-0pky">391</td>
    <td class="tg-0pky">-17.783</td>
    <td class="tg-0pky">10.655</td>
    <td class="tg-0pky">6.7</td>
    <td class="tg-0pky"><a href="https://arxiv.org/pdf/2110.04296.pdf" target="_blank" rel="noopener noreferrer">https://arxiv.org/pdf/2110.04296.pdf</a></td>
  </tr>
</tbody>
</table>