<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky">Artículo </th>
    <th class="tg-0pky">Title</th>
    <th class="tg-0pky">Bibcode </th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky"><a href="https://arxiv.org/abs/2012.13238">https://arxiv.org/abs/2012.13238</a></td>
    <td class="tg-0pky">New constraints on the planetary system around the young active star AU Mic. Two transiting warm Neptunes near mean-motion resonance</td>
    <td class="tg-0pky">2021A&amp;A...649A.177M </td>
  </tr>
  <tr>
    <td class="tg-0pky"><a href="https://arxiv.org/abs/1912.04095">https://arxiv.org/abs/1912.04095</a></td>
    <td class="tg-0pky">A well aligned orbit for the 45 Myr old transiting Neptune DS Tuc Ab</td>
    <td class="tg-0pky">2020ApJ...892L..21Z  </td>
  </tr>
  <tr>
    <td class="tg-0pky"><a href="https://arxiv.org/pdf/1906.10703.pdf">https://arxiv.org/pdf/1906.10703.pdf</a></td>
    <td class="tg-0pky">TESS Hunt for Young and Maturing Exoplanets (THYME): A planet in the 45 Myr Tucana–Horologium association</td>
    <td class="tg-0pky">2019ApJ...880L..17N </td>
  </tr>
  <tr>
    <td class="tg-0pky"><a href="https://arxiv.org/abs/1604.06165">https://arxiv.org/abs/1604.06165</a></td>
    <td class="tg-0pky">Zodiacal Exoplanets in Time (ZEIT) III: A short-period planet orbiting a pre-main-sequence star in the Upper Scorpius OB Association</td>
    <td class="tg-0pky">2016AJ....152...61M </td>
  </tr>
  <tr>
    <td class="tg-0pky"><a href="https://arxiv.org/abs/2005.00013">https://arxiv.org/abs/2005.00013</a></td>
    <td class="tg-0pky">TESS Hunt for Young and Maturing Exoplanets (THYME) II: A 17 Myr Old Transiting Hot Jupiter in the Sco-Cen Association</td>
    <td class="tg-0pky">2020AJ....160...33R </td>
  </tr>
  <tr>
    <td class="tg-0pky"><a href="https://arxiv.org/abs/astro-ph/0206228">https://arxiv.org/abs/astro-ph/0206228</a></td>
    <td class="tg-0pky">On the Unique Solution of Planet and Star Parameters from an Extrasolar Planet Transit Light Curve</td>
    <td class="tg-0pky">2003ApJ...585.1038S </td>
  </tr>
  <tr>
    <td class="tg-0pky"><a href="https://arxiv.org/pdf/2005.07710.pdf">https://arxiv.org/pdf/2005.07710.pdf</a></td>
    <td class="tg-0pky">Flare Statistics for Young Stars from a Convolutional Neural Network Analysis of TESS Data</td>
    <td class="tg-0pky">2020AJ....160..219F </td>
  </tr>
  <tr>
    <td class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/link_gateway/2020A&A...642A..99P/arxiv:2008.12531">https://ui.adsabs.harvard.edu/link_gateway/2020A&amp;A...642A..99P/arxiv:2008.12531</a></td>
    <td class="tg-0pky">Magnetospheric accretion in the intermediate-mass T Tauri star HQ Tau</td>
    <td class="tg-0pky">2020A&amp;A...642A..99P </td>
  </tr>
  <tr>
    <td class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/link_gateway/2018MNRAS.473.1231A/arxiv:1707.07313">https://ui.adsabs.harvard.edu/link_gateway/2018MNRAS.473.1231A/arxiv:1707.07313</a></td>
    <td class="tg-0pky">Identification of Young Stellar Variables with KELT for K2 II: The Upper Scorpius Association</td>
    <td class="tg-0pky">2018MNRAS.473.1231A </td>
  </tr>
  <tr>
    <td class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/link_gateway/2015ApJ...807....3K/arxiv:1505.02446">https://ui.adsabs.harvard.edu/link_gateway/2015ApJ...807....3K/arxiv:1505.02446</a></td>
    <td class="tg-0pky">The Mass-Radius Relation of Young Stars, I: UScoCTIO 5, An M4.5 Eclipsing Binary in Upper Scorpius Observed By K2</td>
    <td class="tg-0pky">2015ApJ...807....3K </td>
  </tr>
  <tr>
    <td class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/abs/2015MNRAS.446..411K/abstract">https://ui.adsabs.harvard.edu/abs/2015MNRAS.446..411K/abstract</a></td>
    <td class="tg-0pky">Mass and period limits on the ringed companion transiting the young star J1407</td>
    <td class="tg-0pky">2015MNRAS.446..411K </td>
  </tr>
  <tr>
    <td class="tg-0pky"><a href="https://arxiv.org/abs/2112.14776">https://arxiv.org/abs/2112.14776</a></td>
    <td class="tg-0pky">A 38 Million Year Old Neptune-Sized Planet in the Kepler Field</td>
    <td class="tg-0pky">2022AJ....163..121B </td>
  </tr>
  <tr>
    <td class="tg-0pky"><a href="https://ui.adsabs.harvard.edu/link_gateway/2022AJ....163..212C/arxiv:2204.06646">https://ui.adsabs.harvard.edu/link_gateway/2022AJ....163..212C/arxiv:2204.06646</a></td>
    <td class="tg-0pky">The Many-faceted Light Curves of Young Disk-bearing Stars in Taurus as Seen by K2</td>
    <td class="tg-0pky">2022AJ....163..212C</td>
  </tr>
</tbody>
</table>