<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax"><span style="font-weight:normal">Cluster</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">Age(Myr)</span></th>
    <th class="tg-0lax">References</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">p Oph</td>
    <td class="tg-0lax">1</td>
    <td class="tg-0lax"><a href="https://arxiv.org/abs/2204.06646" target="_blank" rel="noopener noreferrer">https://arxiv.org/abs/2204.06646</a></td>
  </tr>
  <tr>
    <td class="tg-0lax">Taurus</td>
    <td class="tg-0lax">1-5</td>
    <td class="tg-0lax"><a href="https://arxiv.org/abs/2204.06646" target="_blank" rel="noopener noreferrer">https://arxiv.org/abs/2204.06646</a></td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC</td>
    <td class="tg-0lax">1-5</td>
    <td class="tg-0lax"><a href="https://arxiv.org/abs/2204.06646" target="_blank" rel="noopener noreferrer">https://arxiv.org/abs/2204.06646</a></td>
  </tr>
  <tr>
    <td class="tg-0lax">Upper Sco</td>
    <td class="tg-0lax">5-10</td>
    <td class="tg-0lax"><a href="https://arxiv.org/abs/2204.06646" target="_blank" rel="noopener noreferrer">https://arxiv.org/abs/2204.06646</a></td>
  </tr>
</tbody>
</table>