<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax"><span style="font-weight:normal">Cluster</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">RA (J2000)</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">DEC (J2000)</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">age (Gyr)</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">Class</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">[Fe/H]</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">Nobs</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">Ncomp</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">NFIT</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">Fractio M</span></th>
    <th class="tg-0lax">References</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">ρ Oph</td>
    <td class="tg-0lax">16:24:00.00</td>
    <td class="tg-0lax">-23:48:00.0</td>
    <td class="tg-0lax">0.001</td>
    <td class="tg-0lax">1a</td>
    <td class="tg-0lax">0.03</td>
    <td class="tg-0lax">311</td>
    <td class="tg-0lax">301</td>
    <td class="tg-0lax">72</td>
    <td class="tg-0lax">0.63</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Chamaeleon I</td>
    <td class="tg-0lax">16:24:00.00</td>
    <td class="tg-0lax">-23:48:00.0</td>
    <td class="tg-0lax">0.001</td>
    <td class="tg-0lax">1a</td>
    <td class="tg-0lax">-0.03</td>
    <td class="tg-0lax">708</td>
    <td class="tg-0lax">687</td>
    <td class="tg-0lax">170</td>
    <td class="tg-0lax">0.55</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 6530</td>
    <td class="tg-0lax">18:04:21.60</td>
    <td class="tg-0lax">-24:19:48.0</td>
    <td class="tg-0lax">0.002</td>
    <td class="tg-0lax">1b</td>
    <td class="tg-0lax">-0.02</td>
    <td class="tg-0lax">1972</td>
    <td class="tg-0lax">1907</td>
    <td class="tg-0lax">1501</td>
    <td class="tg-0lax">0.34</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Trumpler 14</td>
    <td class="tg-0lax">10:43:56.64</td>
    <td class="tg-0lax">-59:33:10.8</td>
    <td class="tg-0lax">0.003</td>
    <td class="tg-0lax">1b</td>
    <td class="tg-0lax">-0.01</td>
    <td class="tg-0lax">1111</td>
    <td class="tg-0lax">1069</td>
    <td class="tg-0lax">741</td>
    <td class="tg-0lax">0.53</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 2264</td>
    <td class="tg-0lax">06:40:52.08</td>
    <td class="tg-0lax">+09:52:37.2</td>
    <td class="tg-0lax">0.003</td>
    <td class="tg-0lax">1b</td>
    <td class="tg-0lax">-0.1</td>
    <td class="tg-0lax">1876</td>
    <td class="tg-0lax">1819</td>
    <td class="tg-0lax">1408</td>
    <td class="tg-0lax">0.38</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 2244</td>
    <td class="tg-0lax">06:32:10.80</td>
    <td class="tg-0lax">+04:54:50.4</td>
    <td class="tg-0lax">0.004</td>
    <td class="tg-0lax">1b</td>
    <td class="tg-0lax">-0.04</td>
    <td class="tg-0lax">432</td>
    <td class="tg-0lax">427</td>
    <td class="tg-0lax">375</td>
    <td class="tg-0lax">0.35</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 3293</td>
    <td class="tg-0lax">10:35:52.80</td>
    <td class="tg-0lax">-58:13:51.6</td>
    <td class="tg-0lax">0.01</td>
    <td class="tg-0lax">1b</td>
    <td class="tg-0lax">-0.08</td>
    <td class="tg-0lax">-</td>
    <td class="tg-0lax">-</td>
    <td class="tg-0lax">-</td>
    <td class="tg-0lax">-</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">ASCC 50/Alessi 4</td>
    <td class="tg-0lax">08:50:31.44</td>
    <td class="tg-0lax">-41:44:16.8</td>
    <td class="tg-0lax">0.011</td>
    <td class="tg-0lax">1a</td>
    <td class="tg-0lax">0.02</td>
    <td class="tg-0lax">1224</td>
    <td class="tg-0lax">1192</td>
    <td class="tg-0lax">501</td>
    <td class="tg-0lax">0.41</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Collinder 69/λ Ori</td>
    <td class="tg-0lax">05:35:10.08</td>
    <td class="tg-0lax">+09:48:46.8</td>
    <td class="tg-0lax">0.013</td>
    <td class="tg-0lax">1a</td>
    <td class="tg-0lax">-0.09</td>
    <td class="tg-0lax">608</td>
    <td class="tg-0lax">588</td>
    <td class="tg-0lax">344</td>
    <td class="tg-0lax">0.6</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">25 Ori</td>
    <td class="tg-0lax">05:24:47.52</td>
    <td class="tg-0lax">+01:39:18.0</td>
    <td class="tg-0lax">0.013</td>
    <td class="tg-0lax">1a</td>
    <td class="tg-0lax">0</td>
    <td class="tg-0lax">294</td>
    <td class="tg-0lax">284</td>
    <td class="tg-0lax">256</td>
    <td class="tg-0lax">0.68</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Collinder 197</td>
    <td class="tg-0lax">08:44:48.48</td>
    <td class="tg-0lax">-41:16:48.0</td>
    <td class="tg-0lax">0.014</td>
    <td class="tg-0lax">1a</td>
    <td class="tg-0lax">0.03</td>
    <td class="tg-0lax">409</td>
    <td class="tg-0lax">395</td>
    <td class="tg-0lax">334</td>
    <td class="tg-0lax">0.37</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 2232</td>
    <td class="tg-0lax">06:27:33.12</td>
    <td class="tg-0lax">-04:44:56.4</td>
    <td class="tg-0lax">0.018</td>
    <td class="tg-0lax">1a</td>
    <td class="tg-0lax">-0.03</td>
    <td class="tg-0lax">1761</td>
    <td class="tg-0lax">1734</td>
    <td class="tg-0lax">697</td>
    <td class="tg-0lax">0.13</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">γ Vel</td>
    <td class="tg-0lax">08:09:29.76</td>
    <td class="tg-0lax">-47:20:06.0</td>
    <td class="tg-0lax">0.02</td>
    <td class="tg-0lax">1a</td>
    <td class="tg-0lax">-0.02</td>
    <td class="tg-0lax">1262</td>
    <td class="tg-0lax">1242</td>
    <td class="tg-0lax">497</td>
    <td class="tg-0lax">0.45</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 3766</td>
    <td class="tg-0lax">11:36:14.64</td>
    <td class="tg-0lax">-61:36:57.6</td>
    <td class="tg-0lax">0.023</td>
    <td class="tg-0lax">1b</td>
    <td class="tg-0lax">-0.12</td>
    <td class="tg-0lax">-</td>
    <td class="tg-0lax">-</td>
    <td class="tg-0lax">-</td>
    <td class="tg-0lax">-</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">IC 2391</td>
    <td class="tg-0lax">08:41:10.08</td>
    <td class="tg-0lax">-52:59:27.6</td>
    <td class="tg-0lax">0.029</td>
    <td class="tg-0lax">1a</td>
    <td class="tg-0lax">-0.06</td>
    <td class="tg-0lax">434</td>
    <td class="tg-0lax">426</td>
    <td class="tg-0lax">78</td>
    <td class="tg-0lax">0.61</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 2547</td>
    <td class="tg-0lax">08:10:06.00</td>
    <td class="tg-0lax">-49:11:52.8</td>
    <td class="tg-0lax">0.032</td>
    <td class="tg-0lax">1a</td>
    <td class="tg-0lax">-0.03</td>
    <td class="tg-0lax">477</td>
    <td class="tg-0lax">472</td>
    <td class="tg-0lax">269</td>
    <td class="tg-0lax">0.62</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">IC 4665</td>
    <td class="tg-0lax">17:46:12.96</td>
    <td class="tg-0lax">+05:36:54.0</td>
    <td class="tg-0lax">0.033</td>
    <td class="tg-0lax">1a</td>
    <td class="tg-0lax">0.01</td>
    <td class="tg-0lax">567</td>
    <td class="tg-0lax">562</td>
    <td class="tg-0lax">298</td>
    <td class="tg-0lax">0.11</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 6405</td>
    <td class="tg-0lax">17:40:16.56</td>
    <td class="tg-0lax">-32:14:31.2</td>
    <td class="tg-0lax">0.035</td>
    <td class="tg-0lax">1a</td>
    <td class="tg-0lax">-0.02</td>
    <td class="tg-0lax">659</td>
    <td class="tg-0lax">654</td>
    <td class="tg-0lax">373</td>
    <td class="tg-0lax">0.19</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 2451A</td>
    <td class="tg-0lax">07:42:56.64</td>
    <td class="tg-0lax">-38:15:50.4</td>
    <td class="tg-0lax">0.035</td>
    <td class="tg-0lax">1a</td>
    <td class="tg-0lax">-0.08</td>
    <td class="tg-0lax">1656</td>
    <td class="tg-0lax">1637</td>
    <td class="tg-0lax">352</td>
    <td class="tg-0lax">0.13</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">IC 2602</td>
    <td class="tg-0lax">10:42:27.12</td>
    <td class="tg-0lax">-64:25:33.6</td>
    <td class="tg-0lax">0.036</td>
    <td class="tg-0lax">1a</td>
    <td class="tg-0lax">-0.06</td>
    <td class="tg-0lax">1840</td>
    <td class="tg-0lax">1817</td>
    <td class="tg-0lax">117</td>
    <td class="tg-0lax">0.53</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 2451B</td>
    <td class="tg-0lax">07:44:30.72</td>
    <td class="tg-0lax">-37:57:14.4</td>
    <td class="tg-0lax">0.041</td>
    <td class="tg-0lax">1a</td>
    <td class="tg-0lax">-0.02</td>
    <td class="tg-0lax">1656</td>
    <td class="tg-0lax">1635</td>
    <td class="tg-0lax">425</td>
    <td class="tg-0lax">0.16</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 6649</td>
    <td class="tg-0lax">18:33:26.16</td>
    <td class="tg-0lax">-10:23:56.4</td>
    <td class="tg-0lax">0.071</td>
    <td class="tg-0lax">1b</td>
    <td class="tg-0lax">-0.08</td>
    <td class="tg-0lax">122</td>
    <td class="tg-0lax">121</td>
    <td class="tg-0lax">116</td>
    <td class="tg-0lax">0.62</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Blanco 1</td>
    <td class="tg-0lax">00:03:24.72</td>
    <td class="tg-0lax">-29:57:28.8</td>
    <td class="tg-0lax">0.105</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.03</td>
    <td class="tg-0lax">463</td>
    <td class="tg-0lax">446</td>
    <td class="tg-0lax">314</td>
    <td class="tg-0lax">0.43</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 6067</td>
    <td class="tg-0lax">16:13:11.76</td>
    <td class="tg-0lax">-54:13:37.2</td>
    <td class="tg-0lax">0.126</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">0.03</td>
    <td class="tg-0lax">532</td>
    <td class="tg-0lax">531</td>
    <td class="tg-0lax">512</td>
    <td class="tg-0lax">0.39</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 6709</td>
    <td class="tg-0lax">18:51:20.64</td>
    <td class="tg-0lax">+10:20:02.4</td>
    <td class="tg-0lax">0.191</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.02</td>
    <td class="tg-0lax">684</td>
    <td class="tg-0lax">681</td>
    <td class="tg-0lax">551</td>
    <td class="tg-0lax">0.15</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 2516</td>
    <td class="tg-0lax">07:58:06.48</td>
    <td class="tg-0lax">-60:48:00.0</td>
    <td class="tg-0lax">0.24</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.04</td>
    <td class="tg-0lax">759</td>
    <td class="tg-0lax">745</td>
    <td class="tg-0lax">641</td>
    <td class="tg-0lax">0.75</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 6259</td>
    <td class="tg-0lax">17:00:46.80</td>
    <td class="tg-0lax">-44:40:40.8</td>
    <td class="tg-0lax">0.269</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">0.18</td>
    <td class="tg-0lax">438</td>
    <td class="tg-0lax">423</td>
    <td class="tg-0lax">391</td>
    <td class="tg-0lax">0.38</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Berkeley 30</td>
    <td class="tg-0lax">06:57:45.12</td>
    <td class="tg-0lax">+03:13:44.4</td>
    <td class="tg-0lax">0.295</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.13</td>
    <td class="tg-0lax">226</td>
    <td class="tg-0lax">224</td>
    <td class="tg-0lax">216</td>
    <td class="tg-0lax">0.34</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 6705</td>
    <td class="tg-0lax">18:51:03.84</td>
    <td class="tg-0lax">-06:16:19.2</td>
    <td class="tg-0lax">0.309</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">0.03</td>
    <td class="tg-0lax">1066</td>
    <td class="tg-0lax">1042</td>
    <td class="tg-0lax">977</td>
    <td class="tg-0lax">0.59</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 4815</td>
    <td class="tg-0lax">12:57:59.76</td>
    <td class="tg-0lax">-64:57:36.0</td>
    <td class="tg-0lax">0.372</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">0.08</td>
    <td class="tg-0lax">126</td>
    <td class="tg-0lax">126</td>
    <td class="tg-0lax">112</td>
    <td class="tg-0lax">0.5</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 3532</td>
    <td class="tg-0lax">11:05:40.08</td>
    <td class="tg-0lax">-58:42:25.2</td>
    <td class="tg-0lax">0.398</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.01</td>
    <td class="tg-0lax">966</td>
    <td class="tg-0lax">952</td>
    <td class="tg-0lax">687</td>
    <td class="tg-0lax">0.73</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 6281</td>
    <td class="tg-0lax">17:04:42.96</td>
    <td class="tg-0lax">-37:56:52.8</td>
    <td class="tg-0lax">0.513</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.04</td>
    <td class="tg-0lax">251</td>
    <td class="tg-0lax">249</td>
    <td class="tg-0lax">63</td>
    <td class="tg-0lax">0.44</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Pismis 18</td>
    <td class="tg-0lax">13:36:54.48</td>
    <td class="tg-0lax">-62:05:27.6</td>
    <td class="tg-0lax">0.575</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">0.14</td>
    <td class="tg-0lax">101</td>
    <td class="tg-0lax">101</td>
    <td class="tg-0lax">90</td>
    <td class="tg-0lax">0.31</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 6802</td>
    <td class="tg-0lax">19:30:36.24</td>
    <td class="tg-0lax">+20:15:43.2</td>
    <td class="tg-0lax">0.661</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">0.14</td>
    <td class="tg-0lax">103</td>
    <td class="tg-0lax">103</td>
    <td class="tg-0lax">98</td>
    <td class="tg-0lax">0.56</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 6633</td>
    <td class="tg-0lax">18:27:22.80</td>
    <td class="tg-0lax">+06:36:54.0</td>
    <td class="tg-0lax">0.692</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.03</td>
    <td class="tg-0lax">1595</td>
    <td class="tg-0lax">363</td>
    <td class="tg-0lax">119</td>
    <td class="tg-0lax">0.21</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Trumpler 23</td>
    <td class="tg-0lax">16:00:52.32</td>
    <td class="tg-0lax">-53:32:20.4</td>
    <td class="tg-0lax">0.708</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">0.2</td>
    <td class="tg-0lax">89</td>
    <td class="tg-0lax">89</td>
    <td class="tg-0lax">83</td>
    <td class="tg-0lax">0.47</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Pismis 15</td>
    <td class="tg-0lax">09:34:44.16</td>
    <td class="tg-0lax">-48:02:24.0</td>
    <td class="tg-0lax">0.871</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">0.02</td>
    <td class="tg-0lax">235</td>
    <td class="tg-0lax">235</td>
    <td class="tg-0lax">224</td>
    <td class="tg-0lax">0.19</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 2355</td>
    <td class="tg-0lax">07:16:59.28</td>
    <td class="tg-0lax">+13:46:19.2</td>
    <td class="tg-0lax">1</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.13</td>
    <td class="tg-0lax">208</td>
    <td class="tg-0lax">208</td>
    <td class="tg-0lax">204</td>
    <td class="tg-0lax">0.69</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Berkeley 81</td>
    <td class="tg-0lax">19:01:40.56</td>
    <td class="tg-0lax">-00:27:14.4</td>
    <td class="tg-0lax">1.148</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">0.22</td>
    <td class="tg-0lax">203</td>
    <td class="tg-0lax">203</td>
    <td class="tg-0lax">171</td>
    <td class="tg-0lax">0.34</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 6005</td>
    <td class="tg-0lax">15:55:49.20</td>
    <td class="tg-0lax">-57:26:20.4</td>
    <td class="tg-0lax">1.259</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">0.22</td>
    <td class="tg-0lax">355</td>
    <td class="tg-0lax">353</td>
    <td class="tg-0lax">325</td>
    <td class="tg-0lax">0.19</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Berkeley 73</td>
    <td class="tg-0lax">06:22:04.80</td>
    <td class="tg-0lax">-06:19:15.6</td>
    <td class="tg-0lax">1.413</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.26</td>
    <td class="tg-0lax">76</td>
    <td class="tg-0lax">75</td>
    <td class="tg-0lax">70</td>
    <td class="tg-0lax">0.66</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Berkeley 44</td>
    <td class="tg-0lax">19:17:15.12</td>
    <td class="tg-0lax">+19:33:00.0</td>
    <td class="tg-0lax">1.445</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">0.22</td>
    <td class="tg-0lax">93</td>
    <td class="tg-0lax">92</td>
    <td class="tg-0lax">83</td>
    <td class="tg-0lax">0.51</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 2158</td>
    <td class="tg-0lax">06:07:26.88</td>
    <td class="tg-0lax">+24:05:56.4</td>
    <td class="tg-0lax">1.549</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.15</td>
    <td class="tg-0lax">616</td>
    <td class="tg-0lax">598</td>
    <td class="tg-0lax">571</td>
    <td class="tg-0lax">0.67</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Ruprecht 134</td>
    <td class="tg-0lax">17:52:44.16</td>
    <td class="tg-0lax">-29:32:13.2</td>
    <td class="tg-0lax">1.66</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">0.27</td>
    <td class="tg-0lax">680</td>
    <td class="tg-0lax">665</td>
    <td class="tg-0lax">602</td>
    <td class="tg-0lax">0.18</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 2420</td>
    <td class="tg-0lax">06:49:00.48</td>
    <td class="tg-0lax">-23:59:56.4</td>
    <td class="tg-0lax">1.698</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.15</td>
    <td class="tg-0lax">562</td>
    <td class="tg-0lax">557</td>
    <td class="tg-0lax">520</td>
    <td class="tg-0lax">0.75</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Berkeley 75</td>
    <td class="tg-0lax">07:38:24.48</td>
    <td class="tg-0lax">+21:34:30.0</td>
    <td class="tg-0lax">1.738</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.34</td>
    <td class="tg-0lax">75</td>
    <td class="tg-0lax">74</td>
    <td class="tg-0lax">64</td>
    <td class="tg-0lax">0.71</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 2141</td>
    <td class="tg-0lax">06:02:56.16</td>
    <td class="tg-0lax">+10:27:03.6</td>
    <td class="tg-0lax">1.862</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.04</td>
    <td class="tg-0lax">853</td>
    <td class="tg-0lax">846</td>
    <td class="tg-0lax">801</td>
    <td class="tg-0lax">0.76</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Trumpler 20</td>
    <td class="tg-0lax">12:39:31.68</td>
    <td class="tg-0lax">-60:38:13.2</td>
    <td class="tg-0lax">1.862</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">0.13</td>
    <td class="tg-0lax">552</td>
    <td class="tg-0lax">545</td>
    <td class="tg-0lax">490</td>
    <td class="tg-0lax">0.38</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Berkeley 21</td>
    <td class="tg-0lax">05:51:43.20</td>
    <td class="tg-0lax">+21:48:43.2</td>
    <td class="tg-0lax">2.138</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.21</td>
    <td class="tg-0lax">744</td>
    <td class="tg-0lax">738</td>
    <td class="tg-0lax">574</td>
    <td class="tg-0lax">0.34</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 2425</td>
    <td class="tg-0lax">07:38:18.48</td>
    <td class="tg-0lax">-14:53:06.0</td>
    <td class="tg-0lax">2.399</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.13</td>
    <td class="tg-0lax">528</td>
    <td class="tg-0lax">525</td>
    <td class="tg-0lax">481</td>
    <td class="tg-0lax">0.31</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Berkeley 22</td>
    <td class="tg-0lax">05:58:28.32</td>
    <td class="tg-0lax">+07:45:46.8</td>
    <td class="tg-0lax">2.455</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.26</td>
    <td class="tg-0lax">395</td>
    <td class="tg-0lax">395</td>
    <td class="tg-0lax">352</td>
    <td class="tg-0lax">0.52</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Berkeley 25</td>
    <td class="tg-0lax">06:41:16.08</td>
    <td class="tg-0lax">-16:29:13.2</td>
    <td class="tg-0lax">2.455</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.25</td>
    <td class="tg-0lax">-</td>
    <td class="tg-0lax">-</td>
    <td class="tg-0lax">-</td>
    <td class="tg-0lax">-</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Czernik 24</td>
    <td class="tg-0lax">05:55:23.52</td>
    <td class="tg-0lax">+20:52:33.6</td>
    <td class="tg-0lax">2.692</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.11</td>
    <td class="tg-0lax">346</td>
    <td class="tg-0lax">343</td>
    <td class="tg-0lax">302</td>
    <td class="tg-0lax">0.27</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Berkeley 31</td>
    <td class="tg-0lax">06:57:37.44</td>
    <td class="tg-0lax">+08:17:06.0</td>
    <td class="tg-0lax">2.818</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.29</td>
    <td class="tg-0lax">616</td>
    <td class="tg-0lax">614</td>
    <td class="tg-0lax">499</td>
    <td class="tg-0lax">0.34</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Czernik 30</td>
    <td class="tg-0lax">07:31:11.04</td>
    <td class="tg-0lax">-09:56:42.0</td>
    <td class="tg-0lax">2.884</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.31</td>
    <td class="tg-0lax">226</td>
    <td class="tg-0lax">226</td>
    <td class="tg-0lax">193</td>
    <td class="tg-0lax">0.38</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Haffner 10</td>
    <td class="tg-0lax">07:28:37.44</td>
    <td class="tg-0lax">-15:21:50.4</td>
    <td class="tg-0lax">3.802</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.1</td>
    <td class="tg-0lax">460</td>
    <td class="tg-0lax">457</td>
    <td class="tg-0lax">428</td>
    <td class="tg-0lax">0.62</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Trumpler 5</td>
    <td class="tg-0lax">06:36:30.24</td>
    <td class="tg-0lax">+09:27:54.0</td>
    <td class="tg-0lax">4.266</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.35</td>
    <td class="tg-0lax">1138</td>
    <td class="tg-0lax">1132</td>
    <td class="tg-0lax">1098</td>
    <td class="tg-0lax">0.76</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 2243</td>
    <td class="tg-0lax">06:29:34.80</td>
    <td class="tg-0lax">-31:16:55.2</td>
    <td class="tg-0lax">4.365</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.45</td>
    <td class="tg-0lax">703</td>
    <td class="tg-0lax">701</td>
    <td class="tg-0lax">614</td>
    <td class="tg-0lax">0.88</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">ESO 92-05</td>
    <td class="tg-0lax">10:03:12.24</td>
    <td class="tg-0lax">-64:45:18.0</td>
    <td class="tg-0lax">4.467</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.29</td>
    <td class="tg-0lax">212</td>
    <td class="tg-0lax">210</td>
    <td class="tg-0lax">114</td>
    <td class="tg-0lax">0.8</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Berkeley 32</td>
    <td class="tg-0lax">06:58:07.20</td>
    <td class="tg-0lax">+06:25:58.8</td>
    <td class="tg-0lax">4.898</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.31</td>
    <td class="tg-0lax">389</td>
    <td class="tg-0lax">385</td>
    <td class="tg-0lax">348</td>
    <td class="tg-0lax">0.7</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Berkeley 39</td>
    <td class="tg-0lax">07:46:48.48</td>
    <td class="tg-0lax">-04:39:54.0</td>
    <td class="tg-0lax">5.623</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.14</td>
    <td class="tg-0lax">899</td>
    <td class="tg-0lax">897</td>
    <td class="tg-0lax">832</td>
    <td class="tg-0lax">0.62</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Berkeley 36</td>
    <td class="tg-0lax">07:16:25.20</td>
    <td class="tg-0lax">-13:11:45.6</td>
    <td class="tg-0lax">6.761</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-0.15</td>
    <td class="tg-0lax">739</td>
    <td class="tg-0lax">737</td>
    <td class="tg-0lax">672</td>
    <td class="tg-0lax">0.34</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Messier 67</td>
    <td class="tg-0lax">08:51:23.04</td>
    <td class="tg-0lax">+11:48:50.4</td>
    <td class="tg-0lax">3.981</td>
    <td class="tg-0lax">-</td>
    <td class="tg-0lax">-0.02</td>
    <td class="tg-0lax">131</td>
    <td class="tg-0lax">131</td>
    <td class="tg-0lax">130</td>
    <td class="tg-0lax">0.92</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">NGC 6253</td>
    <td class="tg-0lax">16:59:06.72</td>
    <td class="tg-0lax">-52:42:43.2</td>
    <td class="tg-0lax">3.246</td>
    <td class="tg-0lax">-</td>
    <td class="tg-0lax">0.33</td>
    <td class="tg-0lax">294</td>
    <td class="tg-0lax">235</td>
    <td class="tg-0lax">227</td>
    <td class="tg-0lax">0.72</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
  <tr>
    <td class="tg-0lax">Loden 165</td>
    <td class="tg-0lax">10:35:56</td>
    <td class="tg-0lax">-58:44:03</td>
    <td class="tg-0lax">3</td>
    <td class="tg-0lax">2</td>
    <td class="tg-0lax">-</td>
    <td class="tg-0lax">388</td>
    <td class="tg-0lax">387</td>
    <td class="tg-0lax">333</td>
    <td class="tg-0lax">-</td>
    <td class="tg-0lax">https://ui.adsabs.harvard.edu/abs/2022A%26A...659A.200B/abstract</td>
  </tr>
</tbody>
</table>