<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax"><span style="font-weight:normal">TOI</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">TIC</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">1σ (Myr)</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">3σ (Myr)</span></th>
    <th class="tg-0lax">References</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">TOI-942</td>
    <td class="tg-0lax">TIC 146520535</td>
    <td class="tg-0lax">30-80</td>
    <td class="tg-0lax">20-160</td>
    <td class="tg-0lax"><a href="https://arxiv.org/pdf/2106.14968.pdf" target="_blank" rel="noopener noreferrer">https://arxiv.org/pdf/2106.14968.pdf</a></td>
  </tr>
</tbody>
</table>