<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax"><span style="font-weight:normal">Parameter</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">V1298 Tau</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">HD 284154</span></th>
    <th class="tg-0lax">References</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">RA [h m s]</td>
    <td class="tg-0lax">04 05 19.59</td>
    <td class="tg-0lax">04 05 14.35</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
  <tr>
    <td class="tg-0lax">Dec [o 0 00]</td>
    <td class="tg-0lax">+20 09 25.6</td>
    <td class="tg-0lax">+20 08 21.5</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
  <tr>
    <td class="tg-0lax">µα cosδ</td>
    <td class="tg-0lax">5.23 ± 0.13</td>
    <td class="tg-0lax">5.04 ± 0.12</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
  <tr>
    <td class="tg-0lax">µδ [mas a−1]</td>
    <td class="tg-0lax">-16.08 ± 0.05</td>
    <td class="tg-0lax">-16.32 ± 0.05</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
  <tr>
    <td class="tg-0lax">Parallax [mas]</td>
    <td class="tg-0lax">9.214 ± 0.05</td>
    <td class="tg-0lax">9.202 ± 0.060</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
  <tr>
    <td class="tg-0lax">Distance [pc]</td>
    <td class="tg-0lax">108.5 ± 0.7</td>
    <td class="tg-0lax">108.7 ± 0.7</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
  <tr>
    <td class="tg-0lax">Spectral type</td>
    <td class="tg-0lax">K1</td>
    <td class="tg-0lax">G2</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
  <tr>
    <td class="tg-0lax">V [mag]</td>
    <td class="tg-0lax">10.12 ± 0.05</td>
    <td class="tg-0lax">8.51 ± 0.02</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
  <tr>
    <td class="tg-0lax">G [mag]</td>
    <td class="tg-0lax">10.0702 ± 0.0007</td>
    <td class="tg-0lax">8.3561 ± 0.0005</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
  <tr>
    <td class="tg-0lax">J [mag]</td>
    <td class="tg-0lax">8.687 ± 0.023</td>
    <td class="tg-0lax">7.287 ± 0.020</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
  <tr>
    <td class="tg-0lax">K [mag]</td>
    <td class="tg-0lax">8.094 ± 0.021</td>
    <td class="tg-0lax">6.947 ± 0.026</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
  <tr>
    <td class="tg-0lax">U [km s−1]</td>
    <td class="tg-0lax">−12.63 ± 0.03</td>
    <td class="tg-0lax">-12.90 ± 0.64</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
  <tr>
    <td class="tg-0lax">V [km s−1]</td>
    <td class="tg-0lax">−6.32 ± 0.06</td>
    <td class="tg-0lax">-6.32 ± 0.10</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
  <tr>
    <td class="tg-0lax">W [km s−1]</td>
    <td class="tg-0lax">−9.1 9± 0.06</td>
    <td class="tg-0lax">-9.49 ± 0.28</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
  <tr>
    <td class="tg-0lax">Age [Myr]</td>
    <td class="tg-0lax">20 ± 10</td>
    <td class="tg-0lax">20 ± 10</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
  <tr>
    <td class="tg-0lax">Luminosity [L ]</td>
    <td class="tg-0lax">0.954 ± 0.040</td>
    <td class="tg-0lax">4.138 ± 0.0401</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
  <tr>
    <td class="tg-0lax">Effective temperature [K]</td>
    <td class="tg-0lax">5050 ± 100</td>
    <td class="tg-0lax">5700 ± 100</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
  <tr>
    <td class="tg-0lax">Mass [M ]</td>
    <td class="tg-0lax">1.170 ± 0.060</td>
    <td class="tg-0lax">1.28 ± 0.062</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
  <tr>
    <td class="tg-0lax">Radius [R ]</td>
    <td class="tg-0lax">1.278 ± 0.070</td>
    <td class="tg-0lax">1.477 ± 0.0822</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
  <tr>
    <td class="tg-0lax">Rotation period [d]</td>
    <td class="tg-0lax">2.91 ± 0.05</td>
    <td class="tg-0lax">--</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
  <tr>
    <td class="tg-0lax">v sin i [km s−1]</td>
    <td class="tg-0lax">23.8 ± 0.5</td>
    <td class="tg-0lax">10 ± 1</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
  <tr>
    <td class="tg-0lax">[Fe=H] [dex]</td>
    <td class="tg-0lax">0.10 ± 0.15</td>
    <td class="tg-0lax">0.05 ± 0.15</td>
    <td class="tg-0lax">https://arxiv.org/abs/2111.09193</td>
  </tr>
</tbody>
</table>