<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-kd4e{background-color:#34ff34;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax"><span style="font-weight:normal">URL</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">Title</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">Bibcode</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">Catalogo Vizier</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">Star count</span></th>
    <th class="tg-0lax">Unique stars</th>
    <th class="tg-0lax"><span style="font-weight:normal">Age in catalog</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">Age in paper</span></th>
    <th class="tg-0lax"><span style="font-weight:normal">Identifier</span></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax"><a href="https://ui.adsabs.harvard.edu/abs/2022yCat..36610118C/abstract">https://ui.adsabs.harvard.edu/abs/2022yCat..36610118C/abstract</a></td>
    <td class="tg-0lax">VizieR Online Data Catalog: 628 new open clusters found with OCfinder (Castro-Ginard+, 2022)</td>
    <td class="tg-0lax">2022yCat..36610118C</td>
    <td class="tg-0lax"><a href="https://vizier.cds.unistra.fr/viz-bin/VizieR-3?-source=J/A+A/661/A118/table1">J/A+A/661/A118/table1</a>,<br><a href="https://vizier.cds.unistra.fr/viz-bin/VizieR-3?-source=J/A+A/661/A118/table2">J/A+A/661/A118/table2</a></td>
    <td class="tg-0lax">25466</td>
    <td class="tg-0lax">25466</td>
    <td class="tg-kd4e">true</td>
    <td class="tg-0lax">false</td>
    <td class="tg-0lax">EDR3</td>
  </tr>
  <tr>
    <td class="tg-0lax"><a href="https://ui.adsabs.harvard.edu/abs/2022A%26A...661A.118C/abstract">https://ui.adsabs.harvard.edu/abs/2022A%26A...661A.118C/abstract</a></td>
    <td class="tg-0lax">Hunting for open clusters in Gaia EDR3: 628 new open clusters found with OCfinder</td>
    <td class="tg-0lax">2022A&amp;A...661A.118C</td>
    <td class="tg-0lax">repeat</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax"><a href="https://ui.adsabs.harvard.edu/abs/2020AJ....159..280B/abstract">https://ui.adsabs.harvard.edu/abs/2020AJ....159..280B/abstract</a></td>
    <td class="tg-0lax">The Gaia-Kepler Stellar Properties Catalog. I. Homogeneous Fundamental Properties for 186,301 Kepler Stars</td>
    <td class="tg-0lax">2020AJ....159..280B</td>
    <td class="tg-0lax"><a href="https://vizier.cds.unistra.fr/viz-bin/VizieR-3?-source=J/AJ/159/280/table1">J/AJ/159/280/table1</a>,<br><a href="https://vizier.cds.unistra.fr/viz-bin/VizieR-3?-source=J/AJ/159/280/table2">J/AJ/159/280/table2</a></td>
    <td class="tg-0lax">9091</td>
    <td class="tg-0lax">9037</td>
    <td class="tg-kd4e">true</td>
    <td class="tg-0lax"><span style="background-color:#FFF">false</span></td>
    <td class="tg-0lax">KIC</td>
  </tr>
  <tr>
    <td class="tg-0lax"><a href="https://ui.adsabs.harvard.edu/abs/2018yCat..51540224R/abstract">https://ui.adsabs.harvard.edu/abs/2018yCat..51540224R/abstract</a></td>
    <td class="tg-0lax">VizieR Online Data Catalog: Transiting planets in young clusters from K2 (Rizzuto+, 2017)</td>
    <td class="tg-0lax">2018yCat..51540224R</td>
    <td class="tg-0lax"><a href="https://vizier.cds.unistra.fr/viz-bin/VizieR-3?-source=J/AJ/154/224/table2">J/AJ/154/224/table2</a></td>
    <td class="tg-0lax">3462</td>
    <td class="tg-0lax">2730</td>
    <td class="tg-0lax">false</td>
    <td class="tg-kd4e">true</td>
    <td class="tg-0lax">EPIC</td>
  </tr>
  <tr>
    <td class="tg-0lax"><a href="https://ui.adsabs.harvard.edu/abs/2018AJ....155..196R/abstract">https://ui.adsabs.harvard.edu/abs/2018AJ....155..196R/abstract</a></td>
    <td class="tg-0lax">Rotation of Low-mass Stars in Upper Scorpius and ρ Ophiuchus with K2</td>
    <td class="tg-0lax">2018AJ....155..196R</td>
    <td class="tg-0lax"><a href="https://vizier.cds.unistra.fr/viz-bin/VizieR-3?-source=J/AJ/155/196/table1">J/AJ/155/196/table1</a><br><a href="https://vizier.cds.unistra.fr/viz-bin/VizieR-3?-source=J/AJ/155/196/table3">J/AJ/155/196/table3</a></td>
    <td class="tg-0lax">2626</td>
    <td class="tg-0lax">1168</td>
    <td class="tg-0lax">false</td>
    <td class="tg-kd4e">true</td>
    <td class="tg-0lax">EPIC</td>
  </tr>
  <tr>
    <td class="tg-0lax"><a href="https://ui.adsabs.harvard.edu/abs/2018yCat..51550196R/abstract">https://ui.adsabs.harvard.edu/abs/2018yCat..51550196R/abstract</a></td>
    <td class="tg-0lax">VizieR Online Data Catalog: Analysis of K2 LCs for members of USco &amp; {rho} Oph (Rebull+, 2018)</td>
    <td class="tg-0lax">2018yCat..51550196R</td>
    <td class="tg-0lax">repeat</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax"><a href="https://arxiv.org/pdf/1910.12600.pdf">https://arxiv.org/pdf/1910.12600.pdf</a></td>
    <td class="tg-0lax">A CATALOG OF NEWLY IDENTIFIED STAR CLUSTERS IN GAIA DR2</td>
    <td class="tg-0lax">2019ApJS..245...32L</td>
    <td class="tg-0lax"><a href="https://vizier.cds.unistra.fr/viz-bin/VizieR-3?-source=J/ApJS/245/32/table1">J/ApJS/245/32/table1</a><br></td>
    <td class="tg-0lax">2443</td>
    <td class="tg-0lax">2443</td>
    <td class="tg-kd4e">true</td>
    <td class="tg-0lax">false</td>
    <td class="tg-0lax">Coordinates</td>
  </tr>
  <tr>
    <td class="tg-0lax"><a href="https://ui.adsabs.harvard.edu/abs/2016yCat..51520113R/abstract">https://ui.adsabs.harvard.edu/abs/2016yCat..51520113R/abstract</a></td>
    <td class="tg-0lax">VizieR Online Data Catalog: Pleiades members with K2 light curves. I. Periods (Rebull+, 2016)</td>
    <td class="tg-0lax">2016yCat..51520113R</td>
    <td class="tg-0lax"><a href="https://vizier.cds.unistra.fr/viz-bin/VizieR-3?-source=J/AJ/152/113/table7">J/AJ/152/113/table7</a></td>
    <td class="tg-0lax">1020</td>
    <td class="tg-0lax">0</td>
    <td class="tg-0lax">false</td>
    <td class="tg-kd4e">true</td>
    <td class="tg-0lax">2MASS</td>
  </tr>
  <tr>
    <td class="tg-0lax"><a href="https://ui.adsabs.harvard.edu/abs/2017ApJ...839...92R/abstract">https://ui.adsabs.harvard.edu/abs/2017ApJ...839...92R/abstract</a></td>
    <td class="tg-0lax">Rotation of Late-type Stars in Praesepe with K2</td>
    <td class="tg-0lax">2017ApJ...839...92R</td>
    <td class="tg-0lax"><a href="https://vizier.cds.unistra.fr/viz-bin/VizieR-3?-source=J/ApJ/839/92/table1">J/ApJ/839/92/table1</a></td>
    <td class="tg-0lax">941</td>
    <td class="tg-0lax">107</td>
    <td class="tg-0lax">false</td>
    <td class="tg-kd4e">true</td>
    <td class="tg-0lax">EPIC</td>
  </tr>
  <tr>
    <td class="tg-0lax"><a href="https://ui.adsabs.harvard.edu/abs/2017yCat..18390092R/abstract">https://ui.adsabs.harvard.edu/abs/2017yCat..18390092R/abstract</a></td>
    <td class="tg-0lax">VizieR Online Data Catalog: Praesepe members with K2 light curve data (Rebull+, 2017)</td>
    <td class="tg-0lax">2017yCat..18390092R</td>
    <td class="tg-0lax">repeat</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
  <tr>
    <td class="tg-0lax"><a href="https://ui.adsabs.harvard.edu/abs/2020AJ....159..273R/abstract">https://ui.adsabs.harvard.edu/abs/2020AJ....159..273R/abstract</a></td>
    <td class="tg-0lax">Rotation of Low-mass Stars in Taurus with K2</td>
    <td class="tg-0lax">2020AJ....159..273R</td>
    <td class="tg-0lax"><a href="https://vizier.cds.unistra.fr/viz-bin/VizieR-3?-source=J/AJ/159/273/tablea1">J/AJ/159/273/tablea1</a><br><a href="https://vizier.cds.unistra.fr/viz-bin/VizieR-3?-source=J/AJ/159/273/table2">J/AJ/159/273/table2</a></td>
    <td class="tg-0lax">849</td>
    <td class="tg-0lax">840</td>
    <td class="tg-0lax">false</td>
    <td class="tg-kd4e">true</td>
    <td class="tg-0lax">EPIC</td>
  </tr>
  <tr>
    <td class="tg-0lax"><a href="https://ui.adsabs.harvard.edu/abs/2020yCat..51590273R/abstract">https://ui.adsabs.harvard.edu/abs/2020yCat..51590273R/abstract</a></td>
    <td class="tg-0lax">VizieR Online Data Catalog: Taurus members &amp; nonmembers with K2 data (Rebull+, 2020)</td>
    <td class="tg-0lax">2020yCat..51590273R</td>
    <td class="tg-0lax">repeat</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">EPIC</td>
  </tr>
  <tr>
    <td class="tg-0lax"><a href="https://ui.adsabs.harvard.edu/abs/2016AJ....152..114R/abstract">https://ui.adsabs.harvard.edu/abs/2016AJ....152..114R/abstract</a></td>
    <td class="tg-0lax">Rotation in the Pleiades with K2. II. Multiperiod Stars</td>
    <td class="tg-0lax">2016AJ....152..114R</td>
    <td class="tg-0lax"><a href="https://vizier.cds.unistra.fr/viz-bin/VizieR-3?-source=J/AJ/152/114/table2">J/AJ/152/114/table2</a></td>
    <td class="tg-0lax">759</td>
    <td class="tg-0lax">759</td>
    <td class="tg-0lax">false</td>
    <td class="tg-kd4e">true</td>
    <td class="tg-0lax">EPIC</td>
  </tr>
  <tr>
    <td class="tg-0lax"><a href="http://b2find.eudat.eu/dataset/65743338-ae08-5f95-98c0-34c7c575b6e1">http://b2find.eudat.eu/dataset/65743338-ae08-5f95-98c0-34c7c575b6e1</a></td>
    <td class="tg-0lax">Membership &amp; properties of moving groups with Gaia</td>
    <td class="tg-0lax">2020AJ....159..166U</td>
    <td class="tg-0lax"><a href="https://vizier.cds.unistra.fr/viz-bin/VizieR-3?-source=J/AJ/159/166/table2">J/AJ/159/166/table2</a></td>
    <td class="tg-0lax">563</td>
    <td class="tg-0lax">563</td>
    <td class="tg-kd4e">true</td>
    <td class="tg-0lax"><span style="background-color:#FFF">false</span></td>
    <td class="tg-0lax">DR2</td>
  </tr>
  <tr>
    <td class="tg-0lax"><a href="https://ui.adsabs.harvard.edu/link_gateway/2018AJ....156...71C/arxiv:1802.06409">https://ui.adsabs.harvard.edu/link_gateway/2018AJ....156...71C/arxiv:1802.06409</a></td>
    <td class="tg-0lax">The many-faceted light curves of young disk-bearing stars in Upper Sco and ρ Oph observed by K2 Campaign 2</td>
    <td class="tg-0lax">2018AJ....156...71C</td>
    <td class="tg-0lax"><a href="https://vizier.cds.unistra.fr/viz-bin/VizieR-3?-source=J/AJ/156/71/table1">J/AJ/156/71/table1</a></td>
    <td class="tg-0lax">340</td>
    <td class="tg-0lax">0</td>
    <td class="tg-0lax">false</td>
    <td class="tg-kd4e">true</td>
    <td class="tg-0lax">2MASS</td>
  </tr>
  <tr>
    <td class="tg-0lax"><a href="https://iopscience.iop.org/article/10.3847/1538-4357/aae202/meta">https://iopscience.iop.org/article/10.3847/1538-4357/aae202/meta</a></td>
    <td class="tg-0lax">Kinematic Identification of Young Nearby Moving Groups from a Sample of Chromospherically Active Stars in the RAVE Catalog</td>
    <td class="tg-0lax">2018ApJ...867...93R</td>
    <td class="tg-0lax"><a href="https://vizier.cds.unistra.fr/viz-bin/VizieR-3?-source=J/ApJ/867/93/table2">J/ApJ/867/93/table2</a></td>
    <td class="tg-0lax">278</td>
    <td class="tg-0lax">277</td>
    <td class="tg-kd4e">true</td>
    <td class="tg-0lax">false</td>
    <td class="tg-0lax">2MASS</td>
  </tr>
  <tr>
    <td class="tg-0lax"><a href="https://ui.adsabs.harvard.edu/link_gateway/2021AJ....162..101V/arxiv:2105.11588">https://ui.adsabs.harvard.edu/link_gateway/2021AJ....162..101V/arxiv:2105.11588</a></td>
    <td class="tg-0lax">Multicolor Variability of Young Stars in the Lagoon Nebula: Driving Causes and Intrinsic Timescales</td>
    <td class="tg-0lax">2021AJ....162..101V</td>
    <td class="tg-0lax"><a href="https://vizier.cds.unistra.fr/viz-bin/VizieR-3?-source=J/AJ/162/101/table1">J/AJ/162/101/table1</a></td>
    <td class="tg-0lax">244</td>
    <td class="tg-0lax">0</td>
    <td class="tg-0lax">false</td>
    <td class="tg-kd4e">true</td>
    <td class="tg-0lax">2MASS</td>
  </tr>
  <tr>
    <td class="tg-0lax"><a href="https://ui.adsabs.harvard.edu/abs/2018ApJ...855..115B/abstract">https://ui.adsabs.harvard.edu/abs/2018ApJ...855..115B/abstract</a></td>
    <td class="tg-0lax">Identifying Young Kepler Planet Host Stars from Keck-HIRES Spectra of Lithium</td>
    <td class="tg-0lax">2018ApJ...855..115B</td>
    <td class="tg-0lax"><a href="https://vizier.cds.unistra.fr/viz-bin/VizieR-3?-source=J/ApJ/855/115/table2">J/ApJ/855/115/table2</a></td>
    <td class="tg-0lax">80</td>
    <td class="tg-0lax">79</td>
    <td class="tg-0lax">false</td>
    <td class="tg-kd4e">true</td>
    <td class="tg-0lax">KIC</td>
  </tr>
  <tr>
    <td class="tg-0lax"><a href="https://iopscience.iop.org/article/10.3847/1538-4357/ab1018/meta">https://iopscience.iop.org/article/10.3847/1538-4357/ab1018/meta</a></td>
    <td class="tg-0lax">The Elusive Majority of Young Moving Groups. I. Young Binaries and Lithium-rich Stars in the Solar Neighborhood</td>
    <td class="tg-0lax">2019ApJ...877...60B</td>
    <td class="tg-0lax"><a href="https://vizier.cds.unistra.fr/viz-bin/VizieR-3?-source=J/ApJ/877/60/table3">J/ApJ/877/60/table3</a></td>
    <td class="tg-0lax">58</td>
    <td class="tg-0lax">52</td>
    <td class="tg-0lax">false</td>
    <td class="tg-kd4e">true</td>
    <td class="tg-0lax">2MASS</td>
  </tr>
</tbody>
</table>